Repository SteelToeOSS/Samples: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

ci/azure-pipeline-configuration-Simple.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Configuration
      sample: Simple

ci/azure-pipeline-configuration-cloudfoundry.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Configuration
      sample: CloudFoundry

ci/azure-pipeline-configuration-simple.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Configuration
      sample: Simple

ci/azure-pipeline-configuration-simplecloudfoundry.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Configuration
      sample: SimpleCloudFoundry

ci/azure-pipeline-connectors-MySql.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySql

ci/azure-pipeline-connectors-MySqlEFCore.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySqlEFCore

ci/azure-pipeline-connectors-PostgreEFCore.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: PostgreEFCore

ci/azure-pipeline-connectors-PostgreSql.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: PostgreSql

ci/azure-pipeline-connectors-mysql.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySql

ci/azure-pipeline-connectors-mysqlef6.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySqlEF6

ci/azure-pipeline-connectors-mysqlefcore.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySqlEFCore

ci/azure-pipeline-connectors-postgresql.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: PostgreSql

ci/azure-pipeline-connectors-rabbitmq.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: RabbitMQ

ci/azure-pipeline-connectors-redis.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: Redis

ci/azure-pipeline-management-cloudfoundry.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Management
      sample: CloudFoundry

ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml:
  jobs:
  - template: templates/cloud-foundry-uaac-job.yaml
    parameters:
      feature: Security
      sample: CloudFoundrySingleSignon

ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml:
  jobs:
  - template: templates/cloud-foundry-uaac-job.yaml
    parameters:
      feature: Security
      sample: CloudFoundrySingleSignon

Correct branch name in status badges (#258)
  Configuration/src/CloudFoundry/README.md
  Configuration/src/SimpleCloudFoundry/README.md
  Connectors/src/MySql/README.md
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/PostgreSql/README.md
  Connectors/src/RabbitMQ/README.md
  Connectors/src/Redis/README.md
  Management/src/CloudFoundry/README.md
  Security/src/CloudFoundrySingleSignon/README.md
Due: ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Update Connectors/MySql sample
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/Program.cs
  Connectors/src/MySql/README.md
  Connectors/src/MySql/appsettings.Development.json
  Connectors/src/MySql/appsettings.json
  Connectors/src/MySql/manifest-windows.yml
  Connectors/src/MySql/manifest.yml
Due: ci/azure-pipeline-connectors-mysql.yaml

Update MySQL EF Core sample
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/MySqlEFCore/appsettings.Development.json
  Connectors/src/MySqlEFCore/manifest-windows.yml
  Connectors/src/MySqlEFCore/manifest.yml
Due: ci/azure-pipeline-connectors-mysqlefcore.yaml

Small updates
  Connectors/src/MySql/README.md
  Connectors/src/MySqlEFCore/README.md
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml

Upgrade Ruby to 3.1
  ci/templates/setup-tools-steps.yaml
Due: none

Fix docker command
  CommonTasks.md
Due: none

Fix docker command (#260)
  CommonTasks.md
Due: none

Fix spelling
  Connectors/src/MySqlEFCore/README.md
Due: ci/azure-pipeline-connectors-mysqlefcore.yaml

Update Redis sample
  Connectors/src/Redis/README.md
  Connectors/src/Redis/manifest-windows.yml
  Connectors/src/Redis/manifest.yml
Due: none

Updated PostgreSql sample (only tested locally)
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSql/manifest-windows.yml
  Connectors/src/PostgreSql/manifest.yml
Due: ci/azure-pipeline-connectors-postgresql.yaml

Update RabbitMQ sample
  Connectors/src/RabbitMQ/Controllers/RabbitMQController.cs
  Connectors/src/RabbitMQ/README.md
  Connectors/src/RabbitMQ/manifest-windows.yml
  Connectors/src/RabbitMQ/manifest.yml
Due: ci/azure-pipeline-connectors-rabbitmq.yaml

Updated PostgreEFCore sample (only tested locally)
  Connectors/src/PostgreEFCore/README.md
  Connectors/src/PostgreEFCore/appsettings.Development.json
  Connectors/src/PostgreEFCore/manifest-windows.yml
  Connectors/src/PostgreEFCore/manifest.yml
Due: none

Update MongoDB sample (only tested locally)
  CommonTasks.md
  Connectors/src/MongoDb/Program.cs
Due: none

Apply suggestions from code review
  Connectors/src/OAuth/README.md
  Connectors/src/PostgreEFCore/README.md
  Connectors/src/PostgreSql/README.md
  Connectors/src/RabbitMQ/README.md
  Connectors/src/Redis/README.md
  Connectors/src/SqlServerEFCore/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Update OAuth sample
  Connectors/src/OAuth/README.md
  Connectors/src/OAuth/Startup.cs
  Connectors/src/OAuth/manifest-windows.yml
  Connectors/src/OAuth/manifest.yml
Due: none

Update SQL Server sample (only tested locally)
  Connectors/src/SqlServerEFCore/README.md
  Connectors/src/SqlServerEFCore/manifest-windows.yml
  Connectors/src/SqlServerEFCore/manifest.yml
Due: none

Fix EF spelling
  Connectors/README.md
Due: none

Add support for random routes
  .gitignore
  Configuration/src/CloudFoundry/CloudFoundry.feature
  Configuration/src/SimpleCloudFoundry/SimpleCloudFoundry.feature
  Connectors/src/MySql/MySql.feature
  Connectors/src/MySqlEFCore/MySqlEFCore.feature
  Connectors/src/PostgreEFCore/PostgreEFCore.feature
  Connectors/src/PostgreSql/PostgreSql.feature
  Connectors/src/RabbitMQ/RabbitMQ.feature
  Connectors/src/Redis/Redis.feature
  Security/src/CloudFoundrySingleSignon/CloudFoundrySingleSignon.feature
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
  environment.py
  pysteel/cloudfoundry.py
  pysteel/dns.py
  steps/browser_steps.py
Due: ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Enable cibuild to run tests on PRs
  ci/azure-pipeline-configuration-cloudfoundry.yaml
  ci/azure-pipeline-configuration-simple.yaml
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgreefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml
  ci/update-pipelines.sh
Due: none

Delete global.json to fix failing netcore buildpack
  Configuration/src/CloudFoundry/global.json
  Configuration/src/SimpleCloudFoundry/global.json
  Connectors/src/MySql/global.json
  Connectors/src/MySqlEFCore/global.json
  Connectors/src/RabbitMQ/global.json
  Connectors/src/Redis/global.json
  Management/src/CloudFoundry/global.json
  MusicStore/src/MusicStoreService/global.json
  MusicStore/src/MusicStoreUI/global.json
  MusicStore/src/OrderService/global.json
  MusicStore/src/ShoppingCartService/global.json
  Security/src/CloudFoundrySingleSignon/global.json
Due: ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Update Directory.Build.props in connector samples
  Connectors/src/CosmosDb/Directory.Build.props
  Connectors/src/MongoDb/Directory.Build.props
  Connectors/src/MySql/Directory.Build.props
  Connectors/src/MySqlEFCore/Directory.Build.props
  Connectors/src/OAuth/Directory.Build.props
  Connectors/src/PostgreEFCore/Directory.Build.props
  Connectors/src/PostgreSql/Directory.Build.props
  Connectors/src/RabbitMQ/Directory.Build.props
  Connectors/src/Redis/Directory.Build.props
  Connectors/src/SqlServerEFCore/Directory.Build.props
  config/Directory.Build.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Update connector samples to run against Steeltoe main branch
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/Program.cs
  Connectors/src/MySql/Properties/launchSettings.json
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/MySqlEFCore/Properties/launchSettings.json
  Connectors/src/MySqlEFCore/Startup.cs
  Connectors/src/OAuth/OAuth.csproj
  Connectors/src/OAuth/Program.cs
  Connectors/src/OAuth/Properties/launchSettings.json
  Connectors/src/PostgreEFCore/PostgreEFCore.csproj
  Connectors/src/PostgreEFCore/Program.cs
  Connectors/src/PostgreEFCore/Properties/launchSettings.json
  Connectors/src/PostgreEFCore/Startup.cs
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSql/Properties/launchSettings.json
  Connectors/src/PostgreSql/Startup.cs
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/Properties/launchSettings.json
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/Properties/launchSettings.json
  Connectors/src/Redis/Redis.csproj
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/SqlServerEFCore/Properties/launchSettings.json
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
  Connectors/src/SqlServerEFCore/Startup.cs
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Add --self-contained to suppress warning on publish
  Connectors/src/MySql/MySql.feature
  Connectors/src/MySql/README.md
  Connectors/src/MySqlEFCore/MySqlEFCore.feature
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/OAuth/README.md
  Connectors/src/PostgreEFCore/PostgreEFCore.feature
  Connectors/src/PostgreEFCore/README.md
  Connectors/src/PostgreSql/PostgreSql.feature
  Connectors/src/PostgreSql/README.md
  Connectors/src/RabbitMQ/README.md
  Connectors/src/RabbitMQ/RabbitMQ.feature
  Connectors/src/Redis/README.md
  Connectors/src/Redis/Redis.feature
  Connectors/src/SqlServerEFCore/README.md
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Switch to binary buildpack on windows, remove .UseCloudHosting() in connector samples
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MySql/Program.cs
  Connectors/src/MySql/manifest-windows.yml
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/MySqlEFCore/manifest-windows.yml
  Connectors/src/OAuth/Program.cs
  Connectors/src/OAuth/manifest-windows.yml
  Connectors/src/PostgreEFCore/Program.cs
  Connectors/src/PostgreEFCore/manifest-windows.yml
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSql/manifest-windows.yml
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/manifest-windows.yml
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/manifest-windows.yml
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/SqlServerEFCore/manifest-windows.yml
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Update CommonTasks.md
  CommonTasks.md
Due: none

Update UAA setup to use random routes
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
  pysteel/command.py
Due: ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Review feedback: remove schema from launchSettings.json
  Connectors/src/MySql/Properties/launchSettings.json
  Connectors/src/MySqlEFCore/Properties/launchSettings.json
  Connectors/src/OAuth/Properties/launchSettings.json
  Connectors/src/PostgreEFCore/Properties/launchSettings.json
  Connectors/src/PostgreSql/Properties/launchSettings.json
  Connectors/src/RabbitMQ/Properties/launchSettings.json
  Connectors/src/Redis/Properties/launchSettings.json
  Connectors/src/SqlServerEFCore/Properties/launchSettings.json
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Do not fail on route error
  pysteel/cloudfoundry.py
  steps/process_steps.py
Due: none

Log routing errors
  pysteel/cloudfoundry.py
Due: none

Add K8S service bindings to postgres sample
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSql/appsettings.json
  Connectors/src/PostgreSql/workload.yml
Due: ci/azure-pipeline-connectors-postgresql.yaml

Fix: recreate UAA before SSO tests (#274)
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
Due: ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Adapted product names
  Connectors/src/CosmosDb/README.md
  Connectors/src/MongoDb/README.md
  Connectors/src/MySql/README.md
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/OAuth/README.md
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/RabbitMQ/README.md
  Connectors/src/Redis/README.md
  Connectors/src/SqlServerEFCore/README.md
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

wip
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
Due: ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

wip
  pysteel/command.py
Due: none

Fix filename
  ci/azure-pipeline-connectors-mongodb.yaml
Due: none

Fix port number
  Connectors/src/MySqlEFCore/appsettings.Development.json
Due: ci/azure-pipeline-connectors-mysqlefcore.yaml

Centralize status badges
  Configuration/src/CloudFoundry/README.md
  Configuration/src/SimpleCloudFoundry/README.md
  Connectors/README.md
  Management/src/CloudFoundry/README.md
  README.md
  Security/src/CloudFoundrySingleSignon/README.md
Due: ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Move all status badges to root README.md
  Configuration/src/CloudFoundry/README.md
  Configuration/src/SimpleCloudFoundry/README.md
  Management/src/CloudFoundry/README.md
  README.md
  Security/src/CloudFoundrySingleSignon/README.md
Due: ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Path conditions:
  ci/azure-pipeline-configuration-Simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-cloudfoundry.yaml: any of: config, Configuration/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-configuration-simple.yaml: any of: config, Configuration/src/Simple
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml: any of: config, Configuration/src/SimpleCloudFoundry
  ci/azure-pipeline-connectors-MySql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-MySqlEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-PostgreEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreEFCore
  ci/azure-pipeline-connectors-PostgreSql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-mysql.yaml: any of: config, Connectors/src/MySql
  ci/azure-pipeline-connectors-mysqlef6.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEF6
  ci/azure-pipeline-connectors-mysqlefcore.yaml: any of: config, Connectors/src/MySqlEFCore
  ci/azure-pipeline-connectors-postgresql.yaml: any of: config, Connectors/src/PostgreSql
  ci/azure-pipeline-connectors-rabbitmq.yaml: any of: config, Connectors/src/RabbitMQ
  ci/azure-pipeline-connectors-redis.yaml: any of: config, Connectors/src/AspDotNetCore/Redis
  ci/azure-pipeline-management-cloudfoundry.yaml: any of: config, Management/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml: any of: config, Security/src/CloudFoundrySingleSignon
