Repository SteelToeOSS/Samples: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Path conditions:
  ci/azure-pipeline-configuration-Simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-cloudfoundry.yaml: any of: config, Configuration/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-configuration-simple.yaml: any of: config, Configuration/src/Simple
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml: any of: config, Configuration/src/SimpleCloudFoundry
  ci/azure-pipeline-connectors-MySql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-MySqlEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-PostgreEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreEFCore
  ci/azure-pipeline-connectors-PostgreSql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-cosmosdb.yaml: any of: config, Connectors/src/CosmosDb
  ci/azure-pipeline-connectors-mongodb.yaml: any of: config, Connectors/src/MongoDb
  ci/azure-pipeline-connectors-mysql.yaml: any of: config, Connectors/src/MySql
  ci/azure-pipeline-connectors-mysqlef6.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEF6
  ci/azure-pipeline-connectors-mysqlefcore.yaml: any of: config, Connectors/src/MySqlEFCore
  ci/azure-pipeline-connectors-oauth.yaml: any of: config, Connectors/src/OAuth
  ci/azure-pipeline-connectors-postgresql.yaml: any of: config, Connectors/src/PostgreSql
  ci/azure-pipeline-connectors-postgresqlefcore.yaml: any of: config, Connectors/src/PostgreSqlEFCore
  ci/azure-pipeline-connectors-rabbitmq.yaml: any of: config, Connectors/src/RabbitMQ
  ci/azure-pipeline-connectors-redis.yaml: any of: config, Connectors/src/Redis
  ci/azure-pipeline-connectors-sqlserverefcore.yaml: any of: config, Connectors/src/SqlServerEFCore
  ci/azure-pipeline-management-cloudfoundry.yaml: any of: config, Management/src/CloudFoundry
  ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml: any of: config, Security/src/CloudFoundrySingleSignon

Revert building against latest sources
  Connectors/src/Connectors.sln
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/OAuth/OAuth.csproj
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/Redis/Redis.csproj
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Update readme for PostgreSQL sample
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSql/config/app-operator/postgres-resource-claim-policy.yaml
  Connectors/src/PostgreSql/config/app-operator/postgres-resource-claim.yaml
  Connectors/src/PostgreSql/config/service-operator/postgres.yaml
  Connectors/src/PostgreSql/config/workload.yaml
  Connectors/src/PostgreSqlEFCore/config/app-operator/postgres-resource-claim-policy.yaml
  Connectors/src/PostgreSqlEFCore/config/app-operator/postgres-resource-claim.yaml
  Connectors/src/PostgreSqlEFCore/config/service-operator/postgres.yaml
  Connectors/src/PostgreSqlEFCore/config/workload.yaml
Due: ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml

Apply suggestions from code review
  Connectors/src/PostgreSql/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml

Sync up PostgreSQL READMEs
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSqlEFCore/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml

Update MySQL samples for Kubernetes
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/Program.cs
  Connectors/src/MySql/README.md
  Connectors/src/MySql/config/workload.yaml
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/MySqlEFCore/config/workload.yaml
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml

Update RabbitMQ samples for Kubernetes
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/README.md
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/RabbitMQ/config/workload.yaml
Due: ci/azure-pipeline-connectors-rabbitmq.yaml

Update Redis samples for Kubernetes
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/README.md
  Connectors/src/Redis/Redis.csproj
  Connectors/src/Redis/config/workload.yaml
Due: ci/azure-pipeline-connectors-redis.yaml

Add pre-requisites header to remaining READMEs
  Connectors/src/CosmosDb/README.md
  Connectors/src/MongoDb/README.md
  Connectors/src/OAuth/README.md
  Connectors/src/SqlServerEFCore/README.md
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Run in foreground
  Connectors/src/Redis/Redis.feature
Due: ci/azure-pipeline-connectors-redis.yaml

Update linux to run in foreground
  Connectors/src/Redis/Redis.feature
Due: ci/azure-pipeline-connectors-redis.yaml

Turn off background job in cibuild tests, so what happens there gets logged to artifacts
  Connectors/src/CosmosDb/CosmosDb.feature
  Connectors/src/MongoDb/MongoDb.feature
  Connectors/src/MySql/MySql.feature
  Connectors/src/MySqlEFCore/MySqlEFCore.feature
  Connectors/src/OAuth/OAuth.feature
  Connectors/src/PostgreSql/PostgreSql.feature
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.feature
  Connectors/src/RabbitMQ/RabbitMQ.feature
  Connectors/src/Redis/Redis.feature
  Connectors/src/SqlServerEFCore/SqlServerEFCore.feature
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Update connector samples for Kubernetes (#293)
  Connectors/src/CosmosDb/CosmosDb.feature
  Connectors/src/CosmosDb/README.md
  Connectors/src/MongoDb/MongoDb.feature
  Connectors/src/MongoDb/README.md
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/MySql.feature
  Connectors/src/MySql/Program.cs
  Connectors/src/MySql/README.md
  Connectors/src/MySql/config/workload.yaml
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/MySqlEFCore.feature
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/MySqlEFCore/config/workload.yaml
  Connectors/src/OAuth/OAuth.feature
  Connectors/src/OAuth/README.md
  Connectors/src/PostgreSql/PostgreSql.feature
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSql/config/app-operator/postgres-resource-claim-policy.yaml
  Connectors/src/PostgreSql/config/app-operator/postgres-resource-claim.yaml
  Connectors/src/PostgreSql/config/service-operator/postgres.yaml
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.feature
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/PostgreSqlEFCore/config/app-operator/postgres-resource-claim-policy.yaml
  Connectors/src/PostgreSqlEFCore/config/app-operator/postgres-resource-claim.yaml
  Connectors/src/PostgreSqlEFCore/config/service-operator/postgres.yaml
  Connectors/src/PostgreSqlEFCore/config/workload.yaml
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/README.md
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/RabbitMQ/RabbitMQ.feature
  Connectors/src/RabbitMQ/config/workload.yaml
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/README.md
  Connectors/src/Redis/Redis.csproj
  Connectors/src/Redis/Redis.feature
  Connectors/src/Redis/config/workload.yaml
  Connectors/src/SqlServerEFCore/README.md
  Connectors/src/SqlServerEFCore/SqlServerEFCore.feature
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Update READMEs for additional brokers
  Connectors/src/MySql/README.md
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/Redis/README.md
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-redis.yaml

Update connector samples against latest refactorings from https://github.com/SteeltoeOSS/Steeltoe/pull/1131
  Connectors/src/CosmosDb/Controllers/HomeController.cs
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Controllers/HomeController.cs
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MongoDb/MongoDbSeeder.cs
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MySql/Controllers/HomeController.cs
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/MySqlSeeder.cs
  Connectors/src/MySql/Program.cs
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/PostgreSql/Controllers/HomeController.cs
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/PostgreSqlSeeder.cs
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/RabbitMQ/Controllers/HomeController.cs
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/Redis/Controllers/HomeController.cs
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/Redis.csproj
  Connectors/src/Redis/RedisSeeder.cs
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Update azure-pipeline-connectors-oauth.yaml for Azure Pipelines
  ci/azure-pipeline-connectors-oauth.yaml
Due: none

Update README.md
  Connectors/README.md
Due: none

Update against latest sources
  Connectors/src/ConnectorsWithSource.sln
  Connectors/src/ConnectorsWithSource.sln.DotSettings
  Connectors/src/ConnectorsWithSourceFilter.slnf
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/Redis/Redis.csproj
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Update README.md (#298)
  Connectors/README.md
Due: none

Update connector samples against latest Steeltoe main branch (nullability and optional parameters
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/MongoDb/MongoDbSeeder.cs
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/SqlServerEFCore/Program.cs
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Workaround for missing cert in test environment
  pysteel/cloudfoundry.py
Due: none

Revert "Workaround for missing cert in test environment"
  pysteel/cloudfoundry.py
Due: none

Update connector samples against latest Steeltoe main branch (nullability and optional parameters) (#300)
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/MongoDb/MongoDbSeeder.cs
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/SqlServerEFCore/Program.cs
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Run PostgreSQL connector samples against GCP in cibuild
  Connectors/src/PostgreSql/scaffold/cloudfoundry.py
  Connectors/src/PostgreSqlEFCore/scaffold/cloudfoundry.py
Due: ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml

Adapt plan name
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSql/scaffold/cloudfoundry.py
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/PostgreSqlEFCore/scaffold/cloudfoundry.py
Due: ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml

Revert .NET 7 installation in cibuild
  ci/templates/setup-tools-steps.yaml
Due: none

Add Kubernetes to MongoDB connector sample
  Connectors/src/MongoDb/README.md
  Connectors/src/MongoDb/config/workload.yaml
Due: ci/azure-pipeline-connectors-mongodb.yaml

Correct TAP version
  Connectors/src/MongoDb/README.md
Due: ci/azure-pipeline-connectors-mongodb.yaml
