Repository SteelToeOSS/Samples: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Path conditions:
  ci/azure-pipeline-configuration-Simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-cloudfoundry.yaml: any of: config, Configuration/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-configuration-simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml: any of: config, Configuration/src/SimpleCloudFoundry
  ci/azure-pipeline-connectors-MySql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-MySqlEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-PostgreEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreEFCore
  ci/azure-pipeline-connectors-PostgreSql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-mysql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-mysqlef6.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEF6
  ci/azure-pipeline-connectors-mysqlefcore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-postgresql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-rabbitmq.yaml: any of: config, Connectors/src/AspDotNetCore/RabbitMQ
  ci/azure-pipeline-connectors-redis.yaml: any of: config, Connectors/src/AspDotNetCore/Redis
  ci/azure-pipeline-management-cloudfoundry.yaml: any of: config, Management/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon

Add a more samples
  Messaging/src/AspDotNetCore/RabbitMQWeb/Controllers/RabbitTestController.cs
  Messaging/src/AspDotNetCore/RabbitMQWeb/Services/RabbitListenerService.cs
  Messaging/src/AspDotNetCore/RabbitMQWeb/Startup.cs
  Messaging/src/Console/DependencyInjection/DependencyInjection.csproj
  Messaging/src/Console/DependencyInjection/Program.cs
  Messaging/src/Console/GenericHostEndpointManualContainer/GenericHostEndpointManualContainer.csproj
  Messaging/src/Console/GenericHostEndpointManualContainer/MyMessageListener.cs
  Messaging/src/Console/GenericHostEndpointManualContainer/MyRabbitSender.cs
  Messaging/src/Console/GenericHostEndpointManualContainer/Program.cs
  Messaging/src/Console/GenericHostEndpointRegistration/GenericHostEndpointRegistration.csproj
  Messaging/src/Console/GenericHostEndpointRegistration/MyMessageListener.cs
  Messaging/src/Console/GenericHostEndpointRegistration/MyRabbitEndpointConfigurer.cs
  Messaging/src/Console/GenericHostEndpointRegistration/MyRabbitSender.cs
  Messaging/src/Console/GenericHostEndpointRegistration/Program.cs
  Messaging/src/Console/GenericHostManualContainer/GenericHostManualContainer.csproj
  Messaging/src/Console/GenericHostManualContainer/MyMessageListener.cs
  Messaging/src/Console/GenericHostManualContainer/MyRabbitSender.cs
  Messaging/src/Console/GenericHostManualContainer/Program.cs
  Messaging/src/Console/GenericHostRabbitListener/GenericHostRabbitListener.csproj
  Messaging/src/Console/GenericHostRabbitListener/MyRabbitListener.cs
  Messaging/src/Console/GenericHostRabbitListener/MyRabbitSender.cs
  Messaging/src/Console/GenericHostRabbitListener/Program.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/GenericHostRabbitListenerHeaders.csproj
  Messaging/src/Console/GenericHostRabbitListenerHeaders/MyRabbitListener.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/MyRabbitSender.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/Order.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/Program.cs
  Messaging/src/Console/Messaging.sln
  Messaging/src/Console/TemplateSendReceive/Program.cs
  Messaging/src/Console/TemplateSendReceive/TemplateSendReceive.csproj
Due: none

Postgres fixes
  Connectors/src/PostgreSql/Model/SampleData.cs
  Connectors/src/PostgreSql/Startup.cs
  Connectors/src/PostgreSql/appsettings.Development.json
  Connectors/src/PostgreSql/appsettings.json
Due: none

Rabbit mq web sample (#171)
  Messaging/src/AspDotNetCore/Messaging.sln
  Messaging/src/AspDotNetCore/RabbitMQWeb/Bar.cs
  Messaging/src/AspDotNetCore/RabbitMQWeb/Controllers/RabbitTestController.cs
  Messaging/src/AspDotNetCore/RabbitMQWeb/Foo.cs
  Messaging/src/AspDotNetCore/RabbitMQWeb/Program.cs
  Messaging/src/AspDotNetCore/RabbitMQWeb/Properties/launchSettings.json
  Messaging/src/AspDotNetCore/RabbitMQWeb/README.md
  Messaging/src/AspDotNetCore/RabbitMQWeb/RabbitMQWeb.csproj
  Messaging/src/AspDotNetCore/RabbitMQWeb/Services/RabbitListenerService.cs
  Messaging/src/AspDotNetCore/RabbitMQWeb/Startup.cs
  Messaging/src/AspDotNetCore/RabbitMQWeb/appsettings.Development.json
  Messaging/src/AspDotNetCore/RabbitMQWeb/appsettings.json
  Messaging/src/AspDotNetCore/RabbitMQWeb/nuget.config
  Messaging/src/Console/DependencyInjection/DependencyInjection.csproj
  Messaging/src/Console/DependencyInjection/Program.cs
  Messaging/src/Console/GenericHostEndpointManualContainer/GenericHostEndpointManualContainer.csproj
  Messaging/src/Console/GenericHostEndpointManualContainer/MyMessageListener.cs
  Messaging/src/Console/GenericHostEndpointManualContainer/MyRabbitSender.cs
  Messaging/src/Console/GenericHostEndpointManualContainer/Program.cs
  Messaging/src/Console/GenericHostEndpointRegistration/GenericHostEndpointRegistration.csproj
  Messaging/src/Console/GenericHostEndpointRegistration/MyMessageListener.cs
  Messaging/src/Console/GenericHostEndpointRegistration/MyRabbitEndpointConfigurer.cs
  Messaging/src/Console/GenericHostEndpointRegistration/MyRabbitSender.cs
  Messaging/src/Console/GenericHostEndpointRegistration/Program.cs
  Messaging/src/Console/GenericHostManualContainer/GenericHostManualContainer.csproj
  Messaging/src/Console/GenericHostManualContainer/MyMessageListener.cs
  Messaging/src/Console/GenericHostManualContainer/MyRabbitSender.cs
  Messaging/src/Console/GenericHostManualContainer/Program.cs
  Messaging/src/Console/GenericHostRabbitListener/GenericHostRabbitListener.csproj
  Messaging/src/Console/GenericHostRabbitListener/MyRabbitListener.cs
  Messaging/src/Console/GenericHostRabbitListener/MyRabbitSender.cs
  Messaging/src/Console/GenericHostRabbitListener/Program.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/GenericHostRabbitListenerHeaders.csproj
  Messaging/src/Console/GenericHostRabbitListenerHeaders/MyRabbitListener.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/MyRabbitSender.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/Order.cs
  Messaging/src/Console/GenericHostRabbitListenerHeaders/Program.cs
  Messaging/src/Console/Messaging.sln
  Messaging/src/Console/TemplateSendReceive/Program.cs
  Messaging/src/Console/TemplateSendReceive/TemplateSendReceive.csproj
Due: none

Fixup Messaging samples
  Messaging/README.md
  Messaging/src/Messaging.sln
  Messaging/src/RabbitMQWeb/Bar.cs
  Messaging/src/RabbitMQWeb/Controllers/RabbitTestController.cs
  Messaging/src/RabbitMQWeb/Foo.cs
  Messaging/src/RabbitMQWeb/Program.cs
  Messaging/src/RabbitMQWeb/Properties/launchSettings.json
  Messaging/src/RabbitMQWeb/README.md
  Messaging/src/RabbitMQWeb/RabbitMQWeb.csproj
  Messaging/src/RabbitMQWeb/Services/RabbitListenerService.cs
  Messaging/src/RabbitMQWeb/Startup.cs
  Messaging/src/RabbitMQWeb/appsettings.Development.json
  Messaging/src/RabbitMQWeb/appsettings.json
  Messaging/src/RabbitMQWeb/nuget.config
Due: none

Delete AspNetCore directory
  Messaging/README.md
  Messaging/src/Messaging.sln
  Messaging/src/RabbitMQWeb/Bar.cs
  Messaging/src/RabbitMQWeb/Controllers/RabbitTestController.cs
  Messaging/src/RabbitMQWeb/Foo.cs
  Messaging/src/RabbitMQWeb/Program.cs
  Messaging/src/RabbitMQWeb/Properties/launchSettings.json
  Messaging/src/RabbitMQWeb/README.md
  Messaging/src/RabbitMQWeb/RabbitMQWeb.csproj
  Messaging/src/RabbitMQWeb/Services/RabbitListenerService.cs
  Messaging/src/RabbitMQWeb/Startup.cs
  Messaging/src/RabbitMQWeb/appsettings.Development.json
  Messaging/src/RabbitMQWeb/appsettings.json
  Messaging/src/RabbitMQWeb/nuget.config
Due: none

Include Steeltoe CloudFoundry Connector reference in Discovery
  Discovery/src/Fortune-Teller-Service/Fortune-Teller-Service.csproj
  Discovery/src/Fortune-Teller-UI/Fortune-Teller-UI.csproj
  Messaging/src/RabbitMQWeb/Controllers/RabbitTestController.cs
Due: none

Use Steeltoe 2.5.0 in versions.props
  config/versions.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

python version
  ci/templates/setup-tools-steps.yaml
Due: none

make use of python's presence in path
  ci/templates/cloud-foundry-job.yaml
Due: none

make use of python's presence in path
  ci/templates/cloud-foundry-uaac-job.yaml
Due: none

fix postgres samples
  Connectors/src/AspDotNetCore/PostgreEFCore/appsettings.Development.json
  Connectors/src/AspDotNetCore/PostgreSql/Model/SampleData.cs
  Connectors/src/AspDotNetCore/PostgreSql/PostgreSql.csproj
  Connectors/src/AspDotNetCore/PostgreSql/Program.cs
  Connectors/src/AspDotNetCore/PostgreSql/Startup.cs
  Connectors/src/AspDotNetCore/PostgreSql/appsettings.Development.json
Due: ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-postgresql.yaml

update most of the 4x management samples
  Management/src/AspDotNet4/CloudFoundryOwin/App_Start/LoggingConfig.cs
  Management/src/AspDotNet4/CloudFoundryOwin/CloudFoundryOwin.csproj
  Management/src/AspDotNet4/CloudFoundryOwin/Web.config
  Management/src/AspDotNet4/CloudFoundryOwin/packages.config
  Management/src/AspDotNet4/CloudFoundryOwinAutofac/App_Start/ApplicationConfig.cs
  Management/src/AspDotNet4/CloudFoundryOwinSelfHost/App.config
  Management/src/AspDotNet4/CloudFoundryOwinSelfHost/App_Start/ApplicationConfig.cs
  Management/src/AspDotNet4/CloudFoundryOwinSelfHost/CloudFoundryOwinSelfHost.csproj
  Management/src/AspDotNet4/CloudFoundryWeb/App_Start/LoggingConfig.cs
  Management/src/AspDotNet4/CloudFoundryWeb/CloudFoundryWeb.csproj
  Management/src/AspDotNet4/CloudFoundryWeb/Web.config
  Management/src/AspDotNet4/CloudFoundryWeb/packages.config
Due: none

use latest dev feed & packages
  Discovery/src/Fortune-Teller-Service/manifest.yml
  Management/src/Management.sln
  config/versions.props
  nuget.config
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

python version
  Configuration/src/Placeholder/wwwroot/favicon.ico
  Configuration/src/RandomValue/Views/_ViewStart.cshtml
  Configuration/src/RandomValue/wwwroot/favicon.ico
  Configuration/src/RandomValue/wwwroot/lib/jquery-validation/LICENSE.md
  Configuration/src/RandomValue/wwwroot/lib/jquery-validation/dist/jquery.validate.js
  Configuration/src/RandomValue/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
  Configuration/src/Simple/wwwroot/favicon.ico
  Configuration/src/Simple/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
  Configuration/src/Simple/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
  Configuration/src/Simple/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
  Configuration/src/Simple/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
  Configuration/src/SimpleCloudFoundry/Views/_ViewStart.cshtml
  Configuration/src/SimpleCloudFoundry/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
  Configuration/src/SimpleCloudFoundry/wwwroot/lib/jquery-validation/LICENSE.md
  Connectors/src/GemFire/wwwroot/lib/jquery-validation/dist/jquery.validate.js
  Connectors/src/GemFire/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
  Connectors/src/MongoDb/wwwroot/favicon.ico
  Connectors/src/MySql/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
  Connectors/src/MySql/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
  Connectors/src/MySql/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
  Connectors/src/OAuth/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
  Connectors/src/OAuth/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
  Connectors/src/OAuth/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
  Connectors/src/OAuth/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
  Connectors/src/PostgreEFCore/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
  Connectors/src/PostgreEFCore/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
  Connectors/src/PostgreEFCore/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
  Connectors/src/PostgreEFCore/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
  ci/templates/setup-tools-steps.yaml
Due: ci/azure-pipeline-configuration-simplecloudfoundry.yaml

use 2.5.1
  config/versions.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

add missing nuget reference to management sample
  Management/src/CloudFoundry/CloudFoundry.csproj
Due: none

aspnetcore management sample nuget refs
  Management/src/AspDotNetCore/CloudFoundry/CloudFoundry.csproj
  Management/src/AspDotNetCore/CloudFoundry/Program.cs
Due: ci/azure-pipeline-management-cloudfoundry.yaml

Use CloudFoundryOAuth instead of OpenIdConnect until integration test UAA server lists keys
  Security/src/CloudFoundrySingleSignon/Startup.cs
Due: none

Make Git clone files readonly writeable before deleting
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
Due: none

Fix missing stat import
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
Due: none

Fix compile error on SBA
  Management/src/SpringBootAdmin/Program.cs
  Management/src/SpringBootAdmin/SpringBootAdmin.csproj
Due: none

Musicstore instructions and yml need updating #179
  MusicStore/docker-compose.yml
Due: none

Musicstore instructions and yml need updating #179 #180
  MusicStore/MusicStore.sln
  MusicStore/README.md
  MusicStore/deployment/CloudFoundry/deployApps.ps1
  MusicStore/deployment/CloudFoundry/pushMusicStoreService.cmd
  MusicStore/deployment/CloudFoundry/pushMusicStoreService.sh
  MusicStore/deployment/CloudFoundry/pushMusicStoreUI.cmd
  MusicStore/deployment/CloudFoundry/pushMusicStoreUI.sh
  MusicStore/deployment/CloudFoundry/pushOrderService.cmd
  MusicStore/deployment/CloudFoundry/pushOrderService.sh
  MusicStore/deployment/CloudFoundry/pushShoppingCartService.cmd
  MusicStore/deployment/CloudFoundry/pushShoppingCartService.sh
  MusicStore/docker-compose.override.yml
  MusicStore/docker-compose.yml
  MusicStore/src/MusicStoreService/MusicStoreService.csproj
  MusicStore/src/MusicStoreService/Program.cs
  MusicStore/src/MusicStoreService/appsettings.Docker.json
  MusicStore/src/MusicStoreService/appsettings.json
  MusicStore/src/MusicStoreUI/MusicStoreUI.csproj
  MusicStore/src/MusicStoreUI/Program.cs
  MusicStore/src/MusicStoreUI/Services/BaseDiscoveryService.cs
  MusicStore/src/MusicStoreUI/Startup.cs
  MusicStore/src/MusicStoreUI/appsettings.Docker.json
  MusicStore/src/MusicStoreUI/appsettings.json
  MusicStore/src/OrderService/OrderService.csproj
  MusicStore/src/OrderService/Program.cs
  MusicStore/src/OrderService/appsettings.Docker.json
  MusicStore/src/OrderService/appsettings.json
  MusicStore/src/ShoppingCartService/Program.cs
  MusicStore/src/ShoppingCartService/ShoppingCartService.csproj
  MusicStore/src/ShoppingCartService/appsettings.Docker.json
  MusicStore/src/config/application.yml
  MusicStore/src/config/musicstoreservice.yml
  MusicStore/src/config/musicstoreui.yml
  MusicStore/src/config/orderservice.yml
  MusicStore/tye.yaml
Due: none

Musicstore instructions and yml need updating #179 #180 (#181)
  MusicStore/MusicStore.sln
  MusicStore/README.md
  MusicStore/deployment/CloudFoundry/deployApps.ps1
  MusicStore/deployment/CloudFoundry/pushMusicStoreService.cmd
  MusicStore/deployment/CloudFoundry/pushMusicStoreService.sh
  MusicStore/deployment/CloudFoundry/pushMusicStoreUI.cmd
  MusicStore/deployment/CloudFoundry/pushMusicStoreUI.sh
  MusicStore/deployment/CloudFoundry/pushOrderService.cmd
  MusicStore/deployment/CloudFoundry/pushOrderService.sh
  MusicStore/deployment/CloudFoundry/pushShoppingCartService.cmd
  MusicStore/deployment/CloudFoundry/pushShoppingCartService.sh
  MusicStore/docker-compose.override.yml
  MusicStore/docker-compose.yml
  MusicStore/src/MusicStoreService/MusicStoreService.csproj
  MusicStore/src/MusicStoreService/Program.cs
  MusicStore/src/MusicStoreService/appsettings.Docker.json
  MusicStore/src/MusicStoreService/appsettings.json
  MusicStore/src/MusicStoreUI/MusicStoreUI.csproj
  MusicStore/src/MusicStoreUI/Program.cs
  MusicStore/src/MusicStoreUI/Services/BaseDiscoveryService.cs
  MusicStore/src/MusicStoreUI/Startup.cs
  MusicStore/src/MusicStoreUI/appsettings.Docker.json
  MusicStore/src/MusicStoreUI/appsettings.json
  MusicStore/src/OrderService/OrderService.csproj
  MusicStore/src/OrderService/Program.cs
  MusicStore/src/OrderService/appsettings.Docker.json
  MusicStore/src/OrderService/appsettings.json
  MusicStore/src/ShoppingCartService/Program.cs
  MusicStore/src/ShoppingCartService/ShoppingCartService.csproj
  MusicStore/src/ShoppingCartService/appsettings.Docker.json
  MusicStore/src/config/application.yml
  MusicStore/src/config/musicstoreservice.yml
  MusicStore/src/config/musicstoreui.yml
  MusicStore/src/config/orderservice.yml
  MusicStore/tye.yaml
Due: none

use updated Steeltoe builds
  config/versions.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Include reference for Steeltoe.Security.DataProtection.RedisCore
  Security/src/CloudFoundrySingleSignon/CloudFoundrySingleSignon.csproj
Due: none

Use Steeltoe 2.5.2
  config/versions.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Use Steeltoe 3.0.2
  config/versions.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Initial target change
  FreddysBBQ/src/AdminPortal/AdminPortal.csproj
  FreddysBBQ/src/AdminPortal/Program.cs
  FreddysBBQ/src/AdminPortal/Startup.cs
  FreddysBBQ/src/Common/Services/AbstractService.cs
  FreddysBBQ/src/Common/Services/OrderService.cs
  FreddysBBQ/src/OrderService/OrderService.csproj
  FreddysBBQ/src/OrderService/Program.cs
  FreddysBBQ/src/OrderService/Startup.cs
Due: none

more .NET 5
  CircuitBreaker/src/AspDotNetCore/FortuneTeller/Fortune-Teller-Service/Fortune-Teller-Service.csproj
  CircuitBreaker/src/AspDotNetCore/FortuneTeller/Fortune-Teller-Service/Program.cs
  CircuitBreaker/src/AspDotNetCore/FortuneTeller/Fortune-Teller-Service/Startup.cs
  CircuitBreaker/src/AspDotNetCore/FortuneTeller/Fortune-Teller-UI/Fortune-Teller-UI.csproj
  CircuitBreaker/src/AspDotNetCore/FortuneTeller/Fortune-Teller-UI/Program.cs
  CircuitBreaker/src/AspDotNetCore/FortuneTeller/Fortune-Teller-UI/Startup.cs
Due: none

unused ref
  FreddysBBQ/src/OrderService/Startup.cs
Due: none

Remaining conversion -> Successful build
  FreddysBBQ/src/AdminPortal/AdminPortal.csproj
  FreddysBBQ/src/Common/Services/MenuService.cs
  FreddysBBQ/src/OrderService/OrderService.csproj
  FreddysBBQ/src/OrderService/Program.cs
  FreddysBBQ/src/OrderService/Startup.cs
Due: none
