Repository SteelToeOSS/Samples: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Path conditions:
  ci/azure-pipeline-configuration-Simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-cloudfoundry.yaml: any of: config, Configuration/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-configuration-simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml: any of: config, Configuration/src/SimpleCloudFoundry
  ci/azure-pipeline-connectors-MySql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-MySqlEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-PostgreEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreEFCore
  ci/azure-pipeline-connectors-PostgreSql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-mysql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-mysqlef6.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEF6
  ci/azure-pipeline-connectors-mysqlefcore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-postgresql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-rabbitmq.yaml: any of: config, Connectors/src/AspDotNetCore/RabbitMQ
  ci/azure-pipeline-connectors-redis.yaml: any of: config, Connectors/src/AspDotNetCore/Redis
  ci/azure-pipeline-management-cloudfoundry.yaml: any of: config, Management/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon

update Management/Kubernetes sample to .NET 6
  Management/src/Kubernetes/Dockerfile
  Management/src/Kubernetes/Kubernetes.csproj
  Management/src/Kubernetes/ReadMe.md
Due: none

Use .NET 6 for integration tested samples
  Configuration/src/CloudFoundry/CloudFoundry.csproj
  Configuration/src/CloudFoundry/CloudFoundry.feature
  Configuration/src/Simple/Simple.csproj
  Configuration/src/Simple/Simple.feature
  Configuration/src/SimpleCloudFoundry/SimpleCloudFoundry.csproj
  Configuration/src/SimpleCloudFoundry/SimpleCloudFoundry.feature
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/MySql.feature
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/MySqlEFCore.feature
  Connectors/src/OAuth/OAuth.csproj
  Connectors/src/PostgreEFCore/PostgreEFCore.csproj
  Connectors/src/PostgreEFCore/PostgreEFCore.feature
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/PostgreSql.feature
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/RabbitMQ/RabbitMQ.feature
  Connectors/src/Redis/Redis.csproj
  Connectors/src/Redis/Redis.feature
  Management/src/CloudFoundry/CloudFoundry.csproj
  Security/src/CloudFoundryCertificateAuthentication/CloudFoundryCertificateAuthentication.csproj
  Security/src/CloudFoundryJwtAuthentication/CloudFoundryJwtAuthentication.csproj
  Security/src/CloudFoundrySingleSignon/CloudFoundrySingleSignon.csproj
  Security/src/CloudFoundrySingleSignon/CloudFoundrySingleSignon.feature
  Security/src/CredHubDemo/CredHubDemo.csproj
  Security/src/CredHubDemo/Program.cs
  Security/src/CredHubDemo/Startup.cs
  Security/src/RedisDataProtectionKeyStore/RedisDataProtectionKeyStore.csproj
  config/versions.props
  nuget.config
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Add quotes to prevent tilde expansion
  ci/templates/cloud-foundry-job.yaml
  ci/templates/cloud-foundry-uaac-job.yaml
Due: none

Remove tags referencing net461
  ci/templates/cloud-foundry-job.yaml
  ci/templates/cloud-foundry-uaac-job.yaml
Due: none

Remove reference to wip tag
  ci/templates/cloud-foundry-job.yaml
  ci/templates/cloud-foundry-uaac-job.yaml
Due: none

Add .NET 6 target
  ci/templates/setup-tools-steps.yaml
Due: none

Fix .NET 6 SDK version
  ci/templates/setup-tools-steps.yaml
Due: none

don't delete uaa if it's already there
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
Due: none

rename feature file to deploy to a new space
  Management/src/CloudFoundry/CF.feature
Due: none

Simplify Pomelo EF Core version ref
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
Due: none

comment out this env var
  Configuration/src/Simple/Properties/launchSettings.json
Due: none

management samples should run net6, not net5
  Management/src/CloudFoundry/CF.feature
Due: none

update RMQ
  config/versions.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

update RMQ code for client v6
  Connectors/src/RabbitMQ/Controllers/RabbitMQController.cs
Due: none

Apply suggestions from code review
  Management/src/CloudFoundry/CloudFoundry.csproj
  config/versions.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Target NET6 instead of NET5 for all integration-tested samples (#230)
  Configuration/src/CloudFoundry/CloudFoundry.csproj
  Configuration/src/CloudFoundry/CloudFoundry.feature
  Configuration/src/Simple/Properties/launchSettings.json
  Configuration/src/Simple/Simple.csproj
  Configuration/src/Simple/Simple.feature
  Configuration/src/SimpleCloudFoundry/SimpleCloudFoundry.csproj
  Configuration/src/SimpleCloudFoundry/SimpleCloudFoundry.feature
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/MySql.feature
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/MySqlEFCore.feature
  Connectors/src/OAuth/OAuth.csproj
  Connectors/src/PostgreEFCore/PostgreEFCore.csproj
  Connectors/src/PostgreEFCore/PostgreEFCore.feature
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/PostgreSql.feature
  Connectors/src/RabbitMQ/Controllers/RabbitMQController.cs
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/RabbitMQ/RabbitMQ.feature
  Connectors/src/Redis/Redis.csproj
  Connectors/src/Redis/Redis.feature
  Management/src/CloudFoundry/CF.feature
  Management/src/CloudFoundry/CloudFoundry.csproj
  Security/src/CloudFoundryCertificateAuthentication/CloudFoundryCertificateAuthentication.csproj
  Security/src/CloudFoundryJwtAuthentication/CloudFoundryJwtAuthentication.csproj
  Security/src/CloudFoundrySingleSignon/CloudFoundrySingleSignon.csproj
  Security/src/CloudFoundrySingleSignon/CloudFoundrySingleSignon.feature
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
  Security/src/CredHubDemo/CredHubDemo.csproj
  Security/src/CredHubDemo/Program.cs
  Security/src/CredHubDemo/Startup.cs
  Security/src/RedisDataProtectionKeyStore/RedisDataProtectionKeyStore.csproj
  ci/templates/cloud-foundry-job.yaml
  ci/templates/cloud-foundry-uaac-job.yaml
  ci/templates/setup-tools-steps.yaml
  config/versions.props
  nuget.config
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Another RabbitMQ sample
  Messaging/src/RabbitMQWeb2/Common/Common.csproj
  Messaging/src/RabbitMQWeb2/Common/Message.cs
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/.gitignore
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/Controllers/WeatherForecastController.cs
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/MonitorRabbitMQ.csproj
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/Program.cs
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/Properties/launchSettings.json
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/RabbitListenerService.cs
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/Startup.cs
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/WeatherForecast.cs
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/app.config
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/appsettings.Development.json
  Messaging/src/RabbitMQWeb2/MonitorRabbitMQ/appsettings.json
  Messaging/src/RabbitMQWeb2/RabbitMQWeb2.sln
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/.gitignore
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/Controllers/WeatherForecastController.cs
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/Controllers/WriteMessageQueueController.cs
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/Program.cs
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/Properties/launchSettings.json
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/Startup.cs
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/WeatherForecast.cs
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/WriteToRabbitMQ.csproj
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/app.config
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/appsettings.Development.json
  Messaging/src/RabbitMQWeb2/WriteToRabbitMQ/appsettings.json
Due: none

fixes #233
  config/versions.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Update libs Pomelo.EntityFrameworkCore.MySql 6.0.0, newtonsoft 13.0.1. Remove wwwroot folder include
  FreddysBBQ/src/AdminPortal/AdminPortal.csproj
  FreddysBBQ/src/Common/Common.csproj
  FreddysBBQ/src/OrderService/OrderService.csproj
Due: none

Update FortuneTeller Docker to net 5.0
  Discovery/src.Docker/Fortune-Teller-Service/Dockerfile
  Discovery/src.Docker/Fortune-Teller-Service/FortuneTeller.Service.csproj
  Discovery/src.Docker/Fortune-Teller-Service/Properties/launchSettings.json
  Discovery/src.Docker/Fortune-Teller-UI/Dockerfile
  Discovery/src.Docker/Fortune-Teller-UI/FortuneTeller.UI.csproj
  Discovery/src.Docker/docker-compose.override.yml
  Discovery/src.Docker/docker-compose.yml
Due: none

Update appsettings.json
  Stream/EFCore/appsettings.json
Due: none

Update appsettings.json (#237)
  Stream/EFCore/appsettings.json
Due: none

Update FortuneTeller Docker to net 5.0 (#236)
  Discovery/src.Docker/Fortune-Teller-Service/Dockerfile
  Discovery/src.Docker/Fortune-Teller-Service/FortuneTeller.Service.csproj
  Discovery/src.Docker/Fortune-Teller-Service/Properties/launchSettings.json
  Discovery/src.Docker/Fortune-Teller-UI/Dockerfile
  Discovery/src.Docker/Fortune-Teller-UI/FortuneTeller.UI.csproj
  Discovery/src.Docker/docker-compose.override.yml
  Discovery/src.Docker/docker-compose.yml
Due: none

Update SMBFileShares to .Net core 3.1, 6
  FileShares/src/NetworkFileShares.sln
  FileShares/src/SMBFileShares/Directory.Build.props
  FileShares/src/SMBFileShares/Pages/Index.cshtml
  FileShares/src/SMBFileShares/Pages/Index.cshtml.cs
  FileShares/src/SMBFileShares/Program.cs
  FileShares/src/SMBFileShares/SMBFileShares.csproj
  FileShares/src/SMBFileShares/Startup.cs
Due: none

MusicStore sample unify, add .NET 6
  Configuration/src/Configuration.sln
  Connectors/src/Connectors.sln
  MusicStore/MusicStore.sln
  MusicStore/docker-compose.override.yml
  MusicStore/src/MusicStoreService/AppSettings.cs
  MusicStore/src/MusicStoreService/Controllers/StoreController.cs
  MusicStore/src/MusicStoreService/Directory.Build.props
  MusicStore/src/MusicStoreService/Dockerfile
  MusicStore/src/MusicStoreService/MusicStoreService.csproj
  MusicStore/src/MusicStoreService/Startup.cs
  MusicStore/src/MusicStoreUI/Directory.Build.props
  MusicStore/src/MusicStoreUI/Dockerfile
  MusicStore/src/MusicStoreUI/MusicStoreUI.csproj
  MusicStore/src/MusicStoreUI/Startup.cs
  MusicStore/src/OrderService/Directory.Build.props
  MusicStore/src/OrderService/Dockerfile
  MusicStore/src/OrderService/OrderService.csproj
  MusicStore/src/OrderService/Program.cs
  MusicStore/src/OrderService/Startup.cs
  MusicStore/src/ShoppingCartService/Directory.Build.props
  MusicStore/src/ShoppingCartService/Dockerfile
  MusicStore/src/ShoppingCartService/ShoppingCartService.csproj
  MusicStore/src/ShoppingCartService/Startup.cs
  MusicStore/src/config/application.yml
  Security/src/Core-Security.sln
  configure.ps1
Due: none

Use Steeltoe 2.5.5 for config samples
  Configuration/src/AspDotNet4/AutofacCloudFoundry/AutofacCloudFoundry.csproj
  Configuration/src/AspDotNet4/AutofacCloudFoundry/Web.config
  Configuration/src/AspDotNet4/AutofacCloudFoundry/packages.config
  Configuration/src/AspDotNet4/Simple/Simple.csproj
  Configuration/src/AspDotNet4/Simple/Web.config
  Configuration/src/AspDotNet4/Simple/packages.config
  Configuration/src/AspDotNet4/SimpleCloudFoundry/SimpleCloudFoundry.csproj
  Configuration/src/AspDotNet4/SimpleCloudFoundry/Web.config
  Configuration/src/AspDotNet4/SimpleCloudFoundry/packages.config
Due: none

Use .NET 6 in Hystrix sample
  CircuitBreaker/src/FortuneTeller/Fortune-Teller-Service/Fortune-Teller-Service.csproj
  CircuitBreaker/src/FortuneTeller/Fortune-Teller-Service/Properties/launchSettings.json
  CircuitBreaker/src/FortuneTeller/Fortune-Teller-UI/Fortune-Teller-UI.csproj
  CommonTasks.md
Due: none

Fix typo in Management README
  Management/README.md
Due: none

Only linux build agents, new default domain, drop netcore3.1
  Configuration/src/CloudFoundry/CloudFoundry.feature
  Configuration/src/Simple/Simple.feature
  Configuration/src/SimpleCloudFoundry/SimpleCloudFoundry.feature
  ci/templates/cloud-foundry-job.yaml
  ci/templates/cloud-foundry-uaac-job.yaml
  pysteel/dns.py
Due: ci/azure-pipeline-configuration-simplecloudfoundry.yaml

change watched branch for builds
  ci/azure-pipeline-configuration-cloudfoundry.yaml
  ci/azure-pipeline-configuration-simple.yaml
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgreefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml
Due: none

add global.json files
  Configuration/src/CloudFoundry/global.json
  Configuration/src/SimpleCloudFoundry/global.json
  Connectors/src/MySql/global.json
  Connectors/src/MySqlEFCore/global.json
  Connectors/src/RabbitMQ/global.json
  Connectors/src/Redis/global.json
  Management/src/CloudFoundry/global.json
  Security/src/CloudFoundrySingleSignon/global.json
Due: ci/azure-pipeline-configuration-simplecloudfoundry.yaml

streamline feature files
  Connectors/src/MySql/MySql.feature
  Connectors/src/MySqlEFCore/MySqlEFCore.feature
  Connectors/src/PostgreEFCore/PostgreEFCore.feature
  Connectors/src/PostgreSql/PostgreSql.feature
  Connectors/src/RabbitMQ/RabbitMQ.feature
  Connectors/src/Redis/Redis.feature
  Management/src/CloudFoundry/CF.feature
  Security/src/CloudFoundrySingleSignon/CloudFoundrySingleSignon.feature
Due: none
