Repository SteelToeOSS/Samples: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-configuration.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml, ci/azure-pipeline-security-redis-data-protection.yaml

Path conditions:
  ci/azure-pipeline-configuration-Simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-cloudfoundry.yaml: any of: config, Configuration/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-configuration-simple.yaml: any of: config, Configuration/src/Simple
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml: any of: config, Configuration/src/SimpleCloudFoundry
  ci/azure-pipeline-configuration.yaml: any of: config, Configuration/src/Steeltoe.Samples.Configuration
  ci/azure-pipeline-connectors-MySql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-MySqlEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-PostgreEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreEFCore
  ci/azure-pipeline-connectors-PostgreSql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-cosmosdb.yaml: any of: config, Connectors/src/CosmosDb
  ci/azure-pipeline-connectors-mongodb.yaml: any of: config, Connectors/src/MongoDb
  ci/azure-pipeline-connectors-mysql.yaml: any of: config, Connectors/src/MySql
  ci/azure-pipeline-connectors-mysqlef6.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEF6
  ci/azure-pipeline-connectors-mysqlefcore.yaml: any of: config, Connectors/src/MySqlEFCore
  ci/azure-pipeline-connectors-oauth.yaml: any of: config, Connectors/src/OAuth
  ci/azure-pipeline-connectors-postgresql.yaml: any of: config, Connectors/src/PostgreSql
  ci/azure-pipeline-connectors-postgresqlefcore.yaml: any of: config, Connectors/src/PostgreSqlEFCore
  ci/azure-pipeline-connectors-rabbitmq.yaml: any of: config, Connectors/src/RabbitMQ
  ci/azure-pipeline-connectors-redis.yaml: any of: config, Connectors/src/Redis
  ci/azure-pipeline-connectors-sqlserverefcore.yaml: any of: config, Connectors/src/SqlServerEFCore
  ci/azure-pipeline-management-cloudfoundry.yaml: any of: config, Management/src/CloudFoundry
  ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml: any of: config, Security/src/CloudFoundrySingleSignon
  ci/azure-pipeline-security-redis-data-protection.yaml: any of: config, Security/src/RedisDataProtection

Update Discovery sample
  Discovery/src/FortuneTeller/FortuneTeller.sln
  Discovery/src/FortuneTeller/FortuneTellerService/Controllers/ConfigurationController.cs
  Discovery/src/FortuneTeller/FortuneTellerService/Controllers/FortunesController.cs
  Discovery/src/FortuneTeller/FortuneTellerService/Data/FortuneDbContext.cs
  Discovery/src/FortuneTeller/FortuneTellerService/DatabaseSeederHostedService.cs
  Discovery/src/FortuneTeller/FortuneTellerService/ExampleHealthContributor.cs
  Discovery/src/FortuneTeller/FortuneTellerService/Models/ConfigurationLookupResult.cs
  Discovery/src/FortuneTeller/FortuneTellerService/Models/Fortune.cs
  Discovery/src/FortuneTeller/FortuneTellerService/Program.cs
  Discovery/src/FortuneTeller/FortuneTellerService/Steeltoe.Samples.FortuneTellerService.csproj
  Discovery/src/FortuneTeller/FortuneTellerService/manifest-windows.yml
  Discovery/src/FortuneTeller/FortuneTellerService/manifest.yml
  Discovery/src/FortuneTeller/FortuneTellerWeb/Controllers/HomeController.cs
  Discovery/src/FortuneTeller/FortuneTellerWeb/Models/ErrorViewModel.cs
  Discovery/src/FortuneTeller/FortuneTellerWeb/Models/FortuneModel.cs
  Discovery/src/FortuneTeller/FortuneTellerWeb/Program.cs
  Discovery/src/FortuneTeller/FortuneTellerWeb/Services/FortuneService.cs
  Discovery/src/FortuneTeller/FortuneTellerWeb/Steeltoe.Samples.FortuneTellerWeb.csproj
  Discovery/src/FortuneTeller/FortuneTellerWeb/Views/Home/Index.cshtml
  Discovery/src/FortuneTeller/FortuneTellerWeb/Views/Shared/Error.cshtml
  Discovery/src/FortuneTeller/FortuneTellerWeb/Views/Shared/_Layout.cshtml
  Discovery/src/FortuneTeller/FortuneTellerWeb/Views/_ViewImports.cshtml
  Discovery/src/FortuneTeller/FortuneTellerWeb/manifest-windows.yml
  Discovery/src/FortuneTeller/FortuneTellerWeb/manifest.yml
  Discovery/src/FortuneTeller/README.md
Due: none

Review feedback
  Configuration/src/ConfigurationProviders/config/application-configuration-service/3-claim.yaml
  Configuration/src/ConfigurationProviders/config/workload.yaml
Due: none

Delete Tiltfile
  Configuration/src/ConfigurationProviders/Tiltfile
Due: none

Adapt for changes in bootstrap logger
  Configuration/src/ConfigurationProviders/Program.cs
  Configuration/src/ConfigurationProviders/Steeltoe.Samples.ConfigurationProviders.csproj
  Configuration/src/ConfigurationProviders/appsettings.json
Due: none

Adapt for changes in Cloud Foundry registration
  Discovery/src/FortuneTeller/FortuneTellerService/Program.cs
  Discovery/src/FortuneTeller/FortuneTellerWeb/Program.cs
  Security/src/AuthClient/Program.cs
  Security/src/AuthServer/Program.cs
Due: none

Correct spelling of Cloud Foundry
  Configuration/src/ConfigurationProviders/Views/Home/CloudFoundry.cshtml
  Connectors/README.md
  Connectors/src/MySqlEFCore/appsettings.json
  README.md
Due: ci/azure-pipeline-connectors-mysqlefcore.yaml

Evaluate StatusCode and WwwAuthenticate header in response from AuthServer, set ValidAudience rather than Audience
  Security/src/AuthClient/Controllers/HomeController.cs
  Security/src/AuthClient/Program.cs
  Security/src/AuthServer/appsettings.json
Due: none

Update Connectors sample
  Connectors/README.md
  Connectors/src/CosmosDb/Views/Shared/_Layout.cshtml
  Connectors/src/MongoDb/Views/Shared/_Layout.cshtml
  Connectors/src/MySql/Views/Shared/_Layout.cshtml
  Connectors/src/MySqlEFCore/Views/Shared/_Layout.cshtml
  Connectors/src/PostgreSql/Views/Shared/_Layout.cshtml
  Connectors/src/PostgreSqlEFCore/Views/Shared/_Layout.cshtml
  Connectors/src/RabbitMQ/Views/Shared/_Layout.cshtml
  Connectors/src/Redis/Views/Shared/_Layout.cshtml
  Connectors/src/SqlServerEFCore/Views/Shared/_Layout.cshtml
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Update Configuration sample
  Configuration/src/ConfigurationProviders/ConfigurationProviders.feature
  Configuration/src/ConfigurationProviders/Program.cs
  Configuration/src/ConfigurationProviders/Steeltoe.Samples.ConfigurationProviders.csproj
  Configuration/src/ConfigurationProviders/Views/Shared/_Layout.cshtml
Due: none

Update Discovery sample
  Discovery/src/FortuneTeller/FortuneTellerApi/Controllers/ConfigurationController.cs
  Discovery/src/FortuneTeller/FortuneTellerApi/Controllers/FortunesController.cs
  Discovery/src/FortuneTeller/FortuneTellerApi/Data/FortuneDbContext.cs
  Discovery/src/FortuneTeller/FortuneTellerApi/DatabaseSeederHostedService.cs
  Discovery/src/FortuneTeller/FortuneTellerApi/Directory.Build.props
  Discovery/src/FortuneTeller/FortuneTellerApi/ExampleHealthContributor.cs
  Discovery/src/FortuneTeller/FortuneTellerApi/FortuneTellerService.http
  Discovery/src/FortuneTeller/FortuneTellerApi/Models/ConfigurationLookupResult.cs
  Discovery/src/FortuneTeller/FortuneTellerApi/Models/Fortune.cs
  Discovery/src/FortuneTeller/FortuneTellerApi/Program.cs
  Discovery/src/FortuneTeller/FortuneTellerApi/Properties/launchSettings.json
  Discovery/src/FortuneTeller/FortuneTellerApi/Steeltoe.Samples.FortuneTellerApi.csproj
  Discovery/src/FortuneTeller/FortuneTellerApi/appsettings.Development.json
  Discovery/src/FortuneTeller/FortuneTellerApi/appsettings.json
  Discovery/src/FortuneTeller/FortuneTellerApi/manifest-windows.yml
  Discovery/src/FortuneTeller/FortuneTellerApi/manifest.yml
  Discovery/src/FortuneTeller/FortuneTellerApi/nuget.config
  Discovery/src/FortuneTeller/FortuneTellerConsole/Directory.Build.props
  Discovery/src/FortuneTeller/FortuneTellerConsole/Models/FortuneModel.cs
  Discovery/src/FortuneTeller/FortuneTellerConsole/Program.cs
  Discovery/src/FortuneTeller/FortuneTellerConsole/Properties/launchSettings.json
  Discovery/src/FortuneTeller/FortuneTellerConsole/Services/FortuneService.cs
  Discovery/src/FortuneTeller/FortuneTellerConsole/Steeltoe.Samples.FortuneTellerConsole.csproj
  Discovery/src/FortuneTeller/FortuneTellerConsole/Worker.cs
  Discovery/src/FortuneTeller/FortuneTellerConsole/appsettings.Development.json
  Discovery/src/FortuneTeller/FortuneTellerConsole/appsettings.json
  Discovery/src/FortuneTeller/FortuneTellerConsole/nuget.config
  Discovery/src/FortuneTeller/FortuneTellerWeb/Program.cs
  Discovery/src/FortuneTeller/FortuneTellerWeb/Views/Shared/_Layout.cshtml
  Discovery/src/FortuneTeller/README.md
  Discovery/src/FortuneTeller/Steeltoe.Samples.Discovery.FortuneTeller.sln
Due: none

Add script to sync .DotSettings from Steeltoe
  tools/sync-DotSettings/DotSettings.patch
  tools/sync-DotSettings/sync-DotSettings.ps1
Due: none

Run DotSettings sync and reformat samples
  Configuration/src/ConfigurationProviders/Views/Home/Index.cshtml
  Configuration/src/ConfigurationProviders/Views/Home/PlaceholderValues.cshtml
  Configuration/src/ConfigurationProviders/Views/Home/RandomValues.cshtml
  Configuration/src/Steeltoe.Samples.Configuration.sln.DotSettings
  Connectors/src/MySqlEFCore/Data/AppDbContext.cs
  Connectors/src/MySqlEFCore/Data/OtherDbContext.cs
  Connectors/src/PostgreSqlEFCore/Data/AppDbContext.cs
  Connectors/src/SqlServerEFCore/Data/AppDbContext.cs
  Connectors/src/Steeltoe.Samples.Connectors.sln.DotSettings
  Discovery/src/FortuneTeller/FortuneTellerApi/Data/FortuneDbContext.cs
  Discovery/src/FortuneTeller/Steeltoe.Samples.Discovery.FortuneTeller.sln.DotSettings
  Security/src/Steeltoe.Samples.Security.sln.DotSettings
  tools/sync-DotSettings/baseline.DotSettings
  tools/sync-DotSettings/sync-DotSettings.ps1
Due: ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Remove UserSecretsId from project file
  Discovery/src/FortuneTeller/FortuneTellerConsole/Steeltoe.Samples.FortuneTellerConsole.csproj
Due: none

set 'ValidAudience' instead of 'Audience'
  Security/src/AuthApi/appsettings.json
Due: none

tweaks for CI test
  Management/src/ActuatorApi/Api.feature
  Management/src/ActuatorApi/manifest-windows.yml
  Management/src/ActuatorApi/scaffold/cloudfoundry.py
  steps/browser_steps.py
Due: none

refine contents, comments, readmes, .http files
  CommonTasks.md
  Management/src/ActuatorApi/.cfignore
  Management/src/ActuatorApi/ActuatorApi.http
  Management/src/ActuatorApi/BasicAuthExtensions.cs
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/Properties/launchSettings.json
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorApi/appsettings.Development.json
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorApi/git.properties
  Management/src/ActuatorApi/http-client.env.json
  Management/src/ActuatorApi/manifest-windows.yml
  Management/src/ActuatorWeb/.cfignore
  Management/src/ActuatorWeb/ActuatorWeb.http
  Management/src/ActuatorWeb/BasicAuthExtensions.cs
  Management/src/ActuatorWeb/Pages/Error.cshtml.cs
  Management/src/ActuatorWeb/Pages/Index.cshtml.cs
  Management/src/ActuatorWeb/Pages/Privacy.cshtml.cs
  Management/src/ActuatorWeb/Pages/Shared/_Layout.cshtml
  Management/src/ActuatorWeb/Pages/Weather.cshtml
  Management/src/ActuatorWeb/Pages/Weather.cshtml.cs
  Management/src/ActuatorWeb/Pages/_ViewImports.cshtml
  Management/src/ActuatorWeb/Program.cs
  Management/src/ActuatorWeb/Properties/launchSettings.json
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/appsettings.Development.json
  Management/src/ActuatorWeb/appsettings.json
  Management/src/ActuatorWeb/http-client.env.json
  Management/src/ActuatorWeb/manifest-windows.yml
Due: none

update dotSettings files, Actuator API changes
  Configuration/src/ConfigurationProviders/Program.cs
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MySql/Program.cs
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/Redis/Program.cs
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/Steeltoe.Samples.Connectors.sln.DotSettings
  Discovery/src/FortuneTeller/FortuneTellerApi/Program.cs
  Discovery/src/FortuneTeller/Steeltoe.Samples.Discovery.FortuneTeller.sln.DotSettings
  Management/src/Steeltoe.Samples.Management.sln.DotSettings
  Security/src/AuthApi/Program.cs
  Security/src/AuthWeb/Program.cs
  Security/src/Steeltoe.Samples.Security.sln.DotSettings
  tools/sync-DotSettings/baseline.DotSettings
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Extract non-management improvements from https://github.com/SteeltoeOSS/Samples/pull/343
  CommonTasks.md
  Configuration/src/ConfigurationProviders/Program.cs
  Configuration/src/Steeltoe.Samples.Configuration.sln.DotSettings
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MySql/Program.cs
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/Redis/Program.cs
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/Steeltoe.Samples.Connectors.sln
  Connectors/src/Steeltoe.Samples.Connectors.sln.DotSettings
  Discovery/src/FortuneTeller/FortuneTellerApi/Program.cs
  Discovery/src/FortuneTeller/Steeltoe.Samples.Discovery.FortuneTeller.sln.DotSettings
  Security/src/AuthApi/Program.cs
  Security/src/AuthWeb/Program.cs
  Security/src/Steeltoe.Samples.Security.sln.DotSettings
  config/Directory.Build.props
  configure.ps1
  tools/sync-DotSettings/baseline.DotSettings
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-configuration.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml, ci/azure-pipeline-security-redis-data-protection.yaml

Reduce logging in ConfigServer sample (output flooded by placeholder logs otherwise)
  Configuration/src/ConfigurationProviders/appsettings.json
Due: none

Update SBA port number
  CommonTasks.md
Due: none

Update samples v4 (#346)
  CommonTasks.md
  Configuration/src/ConfigurationProviders/Program.cs
  Configuration/src/ConfigurationProviders/appsettings.json
  Configuration/src/Steeltoe.Samples.Configuration.sln.DotSettings
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MySql/Program.cs
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/Redis/Program.cs
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/Steeltoe.Samples.Connectors.sln
  Connectors/src/Steeltoe.Samples.Connectors.sln.DotSettings
  Discovery/src/FortuneTeller/FortuneTellerApi/Program.cs
  Discovery/src/FortuneTeller/Steeltoe.Samples.Discovery.FortuneTeller.sln.DotSettings
  Security/src/AuthApi/Program.cs
  Security/src/AuthWeb/Program.cs
  Security/src/Steeltoe.Samples.Security.sln.DotSettings
  config/Directory.Build.props
  configure.ps1
  tools/sync-DotSettings/baseline.DotSettings
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-configuration.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml, ci/azure-pipeline-security-redis-data-protection.yaml

Add custom actuator
  Management/src/ActuatorWeb/ActuatorWeb.http
  Management/src/ActuatorWeb/CustomActuators/LocalTime/ConfigureLocalTimeEndpointOptions.cs
  Management/src/ActuatorWeb/CustomActuators/LocalTime/EndpointServiceCollectionExtensions.cs
  Management/src/ActuatorWeb/CustomActuators/LocalTime/ILocalTimeEndpointHandler.cs
  Management/src/ActuatorWeb/CustomActuators/LocalTime/LocalTimeEndpointHandler.cs
  Management/src/ActuatorWeb/CustomActuators/LocalTime/LocalTimeEndpointMiddleware.cs
  Management/src/ActuatorWeb/CustomActuators/LocalTime/LocalTimeEndpointOptions.cs
  Management/src/ActuatorWeb/Program.cs
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/appsettings.Development.json
Due: none

add prometheus + grafana, feedback and cleanup
  CommonTasks.md
  Management/src/ActuatorApi/Api.feature
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorApi/appsettings.Development.json
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorApi/http-client.env.json
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/Steeltoe.Samples.ActuatorWeb.csproj
  Management/src/ActuatorWeb/appsettings.Development.json
  Management/src/ActuatorWeb/http-client.env.json
  Management/src/Steeltoe.Samples.Management.sln
  Management/src/docker-compose.yaml
  Management/src/grafana/config/grafana.ini
  Management/src/grafana/config/provisioning/dashboards/default.yaml
  Management/src/grafana/config/provisioning/datasources/default.yaml
  Management/src/grafana/dashboards/aspnetcore-endpoint.json
  Management/src/grafana/dashboards/aspnetcore.json
  Management/src/prometheus/prometheus.yml
Due: none

include cf config with connector samples so actuator integration works
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MySql/Program.cs
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/Redis/Program.cs
  Connectors/src/SqlServerEFCore/Program.cs
  Management/src/ActuatorApi/BasicAuthExtensions.cs
  Management/src/ActuatorApi/Data/WeatherContext.cs
  Management/src/ActuatorApi/Models/WeatherForecast.cs
  Management/src/ActuatorApi/MySqlSeeder.cs
  Management/src/ActuatorApi/OpenTelemetryExtensions.cs
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/Properties/launchSettings.json
  Management/src/ActuatorApi/appsettings.Development.json
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorApi/manifest.yml
  Management/src/ActuatorWeb/BasicAuthExtensions.cs
  Management/src/ActuatorWeb/OpenTelemetryExtensions.cs
  Management/src/ActuatorWeb/Pages/Error.cshtml.cs
  Management/src/ActuatorWeb/Pages/Index.cshtml.cs
  Management/src/ActuatorWeb/Pages/Privacy.cshtml.cs
  Management/src/ActuatorWeb/Pages/Weather.cshtml.cs
  Management/src/ActuatorWeb/Program.cs
  Management/src/ActuatorWeb/appsettings.Development.json
  Management/src/ActuatorWeb/appsettings.json
  config/Directory.Build.props
  configure.ps1
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-configuration.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml, ci/azure-pipeline-security-redis-data-protection.yaml

Inject HttpClient into model
  Management/src/ActuatorWeb/ActuatorApiClient.cs
  Management/src/ActuatorWeb/Pages/Weather.cshtml
  Management/src/ActuatorWeb/Pages/Weather.cshtml.cs
  Management/src/ActuatorWeb/Program.cs
Due: none

add zipkin server, slnlaunch, more OpenTelemetry configuration
  Management/src/ActuatorApi/ActuatorApi.http
  Management/src/ActuatorApi/BasicAuthExtensions.cs
  Management/src/ActuatorApi/MySqlSeeder.cs
  Management/src/ActuatorApi/OpenTelemetryExtensions.cs
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/Properties/launchSettings.json
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorApi/appsettings.Development.json
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorWeb/ActuatorWeb.http
  Management/src/ActuatorWeb/BasicAuthExtensions.cs
  Management/src/ActuatorWeb/OpenTelemetryExtensions.cs
  Management/src/ActuatorWeb/Pages/Shared/_Layout.cshtml
  Management/src/ActuatorWeb/Program.cs
  Management/src/ActuatorWeb/Properties/launchSettings.json
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/Steeltoe.Samples.ActuatorWeb.csproj
  Management/src/ActuatorWeb/appsettings.Development.json
  Management/src/ActuatorWeb/appsettings.json
  Management/src/README.md
  Management/src/Steeltoe.Samples.Management.slnLaunch
  Management/src/docker-compose.yaml
  Management/src/grafana/config/provisioning/datasources/default.yaml
  Security/src/Steeltoe.Samples.Security.slnLaunch
Due: none
