Repository SteelToeOSS/Samples: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Path conditions:
  ci/azure-pipeline-configuration-Simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-cloudfoundry.yaml: any of: config, Configuration/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-configuration-simple.yaml: any of: config, Configuration/src/Simple
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml: any of: config, Configuration/src/SimpleCloudFoundry
  ci/azure-pipeline-connectors-MySql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-MySqlEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-PostgreEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreEFCore
  ci/azure-pipeline-connectors-PostgreSql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-mongodb.yaml: any of: config, Connectors/src/MongoDb
  ci/azure-pipeline-connectors-mysql.yaml: any of: config, Connectors/src/MySql
  ci/azure-pipeline-connectors-mysqlef6.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEF6
  ci/azure-pipeline-connectors-mysqlefcore.yaml: any of: config, Connectors/src/MySqlEFCore
  ci/azure-pipeline-connectors-oauth.yaml: any of: config, Connectors/src/OAuth
  ci/azure-pipeline-connectors-postgresql.yaml: any of: config, Connectors/src/PostgreSql
  ci/azure-pipeline-connectors-rabbitmq.yaml: any of: config, Connectors/src/RabbitMQ
  ci/azure-pipeline-connectors-redis.yaml: any of: config, Connectors/src/AspDotNetCore/Redis
  ci/azure-pipeline-management-cloudfoundry.yaml: any of: config, Management/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml: any of: config, Security/src/CloudFoundrySingleSignon

Do not fail on route error
  pysteel/cloudfoundry.py
  steps/process_steps.py
Due: none

Log routing errors
  pysteel/cloudfoundry.py
Due: none

Fix UAA/SingleSigon apps to not use random routes
  Security/src/CloudFoundrySingleSignon/scaffold/cloudfoundry.py
  pysteel/command.py
Due: ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Review feedback: switch to "mini" plan for CosmosDB
  Connectors/src/CosmosDb/README.md
  Connectors/src/CosmosDb/scaffold/cloudfoundry.py
Due: none

Review feedback: target .NET 6 in connector samples
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/CosmosDb/Directory.Build.props
  Connectors/src/MongoDb/Directory.Build.props
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MySql/Directory.Build.props
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySqlEFCore/Directory.Build.props
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/OAuth/Directory.Build.props
  Connectors/src/OAuth/OAuth.csproj
  Connectors/src/PostgreSql/Directory.Build.props
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSqlEFCore/Directory.Build.props
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/RabbitMQ/Directory.Build.props
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/Redis/Directory.Build.props
  Connectors/src/Redis/Redis.csproj
  Connectors/src/SqlServerEFCore/Directory.Build.props
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
Due: ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Update remaining references from .NET 7 to .NET 6
  Connectors/src/CosmosDb/CosmosDb.feature
  Connectors/src/CosmosDb/README.md
  Connectors/src/CosmosDb/buildpack.yml
  Connectors/src/MongoDb/MongoDb.feature
  Connectors/src/MongoDb/Readme.md
  Connectors/src/MongoDb/buildpack.yml
  Connectors/src/MySql/MySql.feature
  Connectors/src/MySql/README.md
  Connectors/src/MySql/buildpack.yml
  Connectors/src/MySqlEFCore/MySqlEFCore.feature
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/MySqlEFCore/buildpack.yml
  Connectors/src/OAuth/OAuth.feature
  Connectors/src/OAuth/README.md
  Connectors/src/OAuth/buildpack.yml
  Connectors/src/PostgreSql/PostgreSql.feature
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSql/buildpack.yml
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.feature
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/PostgreSqlEFCore/buildpack.yml
  Connectors/src/RabbitMQ/README.md
  Connectors/src/RabbitMQ/RabbitMQ.feature
  Connectors/src/RabbitMQ/buildpack.yml
  Connectors/src/Redis/README.md
  Connectors/src/Redis/Redis.feature
  Connectors/src/Redis/buildpack.yml
  Connectors/src/SqlServerEFCore/README.md
  Connectors/src/SqlServerEFCore/SqlServerEFCore.feature
  Connectors/src/SqlServerEFCore/buildpack.yml
Due: ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Update connector samples to run against Steeltoe main branch
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/CosmosDb/Directory.Build.props
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Directory.Build.props
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MongoDb/README.md
  Connectors/src/MySql/Directory.Build.props
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/Program.cs
  Connectors/src/MySqlEFCore/Directory.Build.props
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/OAuth/Directory.Build.props
  Connectors/src/OAuth/OAuth.csproj
  Connectors/src/OAuth/Program.cs
  Connectors/src/PostgreSql/Directory.Build.props
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/Directory.Build.props
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/RabbitMQ/Directory.Build.props
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/Redis/Directory.Build.props
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/Redis.csproj
  Connectors/src/SqlServerEFCore/Directory.Build.props
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
  config/Directory.Build.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Fixup merge problem
  Connectors/src/PostgreSql/Program.cs
Due: ci/azure-pipeline-connectors-postgresql.yaml

Readme updates
  Connectors/README.md
  Connectors/src/PostgreSql/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml

Fixup Readme
  Connectors/src/PostgreSql/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml

Update connector samples to run against Steeltoe main branch (#280)
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/CosmosDb/Directory.Build.props
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Directory.Build.props
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MongoDb/README.md
  Connectors/src/MySql/Directory.Build.props
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/Program.cs
  Connectors/src/MySqlEFCore/Directory.Build.props
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/OAuth/Directory.Build.props
  Connectors/src/OAuth/OAuth.csproj
  Connectors/src/OAuth/Program.cs
  Connectors/src/PostgreSql/Directory.Build.props
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/Directory.Build.props
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/RabbitMQ/Directory.Build.props
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/Redis/Directory.Build.props
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/Redis.csproj
  Connectors/src/SqlServerEFCore/Directory.Build.props
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
  config/Directory.Build.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

include sample yaml
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSql/config/app-operator/postgres-resource-claim-policy.yaml
  Connectors/src/PostgreSql/config/app-operator/postgres-resource-claim.yaml
  Connectors/src/PostgreSql/config/service-operator/postgres.yaml
  Connectors/src/PostgreSql/config/workload.yaml
Due: ci/azure-pipeline-connectors-postgresql.yaml

Various cleanups and corrections, show connection string at startup, update accordingly for EF Core.
  Connectors/src/PostgreSql/Controllers/HomeController.cs
  Connectors/src/PostgreSql/Models/PostgreSqlViewModel.cs
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSql/Views/Home/Index.cshtml
  Connectors/src/PostgreSql/appsettings.json
  Connectors/src/PostgreSql/workload.yml
  Connectors/src/PostgreSqlEFCore/Controllers/HomeController.cs
  Connectors/src/PostgreSqlEFCore/Models/PostgreSqlViewModel.cs
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/PostgreSqlEFCore/Views/Home/Index.cshtml
  Connectors/src/PostgreSqlEFCore/appsettings.json
  Connectors/src/PostgreSqlEFCore/config/app-operator/postgres-resource-claim-policy.yaml
  Connectors/src/PostgreSqlEFCore/config/app-operator/postgres-resource-claim.yaml
  Connectors/src/PostgreSqlEFCore/config/service-operator/postgres.yaml
  Connectors/src/PostgreSqlEFCore/config/workload.yaml
Due: ci/azure-pipeline-connectors-postgresql.yaml

Update README.md
  Connectors/README.md
Due: none

update links to current version of TAP docs
  Connectors/src/PostgreSql/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml

Add K8S service bindings to PostgreSql sample (#271)
  Connectors/README.md
  Connectors/src/PostgreSql/Controllers/HomeController.cs
  Connectors/src/PostgreSql/Models/PostgreSqlViewModel.cs
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSql/Views/Home/Index.cshtml
  Connectors/src/PostgreSql/appsettings.json
  Connectors/src/PostgreSql/config/app-operator/postgres-resource-claim-policy.yaml
  Connectors/src/PostgreSql/config/app-operator/postgres-resource-claim.yaml
  Connectors/src/PostgreSql/config/service-operator/postgres.yaml
  Connectors/src/PostgreSql/config/workload.yaml
  Connectors/src/PostgreSqlEFCore/Controllers/HomeController.cs
  Connectors/src/PostgreSqlEFCore/Models/PostgreSqlViewModel.cs
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/PostgreSqlEFCore/Views/Home/Index.cshtml
  Connectors/src/PostgreSqlEFCore/appsettings.json
  Connectors/src/PostgreSqlEFCore/config/app-operator/postgres-resource-claim-policy.yaml
  Connectors/src/PostgreSqlEFCore/config/app-operator/postgres-resource-claim.yaml
  Connectors/src/PostgreSqlEFCore/config/service-operator/postgres.yaml
  Connectors/src/PostgreSqlEFCore/config/workload.yaml
Due: ci/azure-pipeline-connectors-postgresql.yaml

Simpler init
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
Due: ci/azure-pipeline-connectors-postgresql.yaml

Simpler init (#283)
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
Due: ci/azure-pipeline-connectors-postgresql.yaml

Use new post-processor-based CF/TAP service bindings in PostgreSQL samples
  Connectors/src/Connectors.sln.DotSettings
  Connectors/src/PostgreSql/Controllers/HomeController.cs
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/PostgreSqlSeeder.cs
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSql/appsettings.Development.json
  Connectors/src/PostgreSql/appsettings.json
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/PostgreSqlEFCore/PostgreSqlSeeder.cs
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/PostgreSqlEFCore/appsettings.Development.json
  Connectors/src/PostgreSqlEFCore/appsettings.json
Due: ci/azure-pipeline-connectors-postgresql.yaml

Update MySQL connector samples using new CloudFoundry service bindings
  Connectors/src/Connectors.sln
  Connectors/src/MySql/Controllers/HomeController.cs
  Connectors/src/MySql/Models/MySqlViewModel.cs
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/MySqlSeeder.cs
  Connectors/src/MySql/Program.cs
  Connectors/src/MySql/README.md
  Connectors/src/MySql/Views/Home/Index.cshtml
  Connectors/src/MySql/appsettings.Development.json
  Connectors/src/MySqlEFCore/Controllers/HomeController.cs
  Connectors/src/MySqlEFCore/Models/MySqlViewModel.cs
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/MySqlSeeder.cs
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/MySqlEFCore/Views/Home/Index.cshtml
  Connectors/src/MySqlEFCore/appsettings.Development.json
  Connectors/src/MySqlEFCore/appsettings.json
  Connectors/src/MySqlEFCore/manifest.yml
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/PostgreSqlEFCore/Program.cs
Due: ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml

Fix Loggers page
  Management/src/AllActuators/Actuators/Steeltoe.Actuators.csproj
Due: none

Quorum Sample
  Messaging/src/RabbitMQWeb/Controllers/RabbitController.cs
  Messaging/src/RabbitMQWeb/Properties/launchSettings.json
  Messaging/src/RabbitMQWeb/Queues.cs
  Messaging/src/RabbitMQWeb/Startup.cs
Due: none

Quorum Sample (#287)
  Messaging/src/RabbitMQWeb/Controllers/RabbitController.cs
  Messaging/src/RabbitMQWeb/Properties/launchSettings.json
  Messaging/src/RabbitMQWeb/Queues.cs
  Messaging/src/RabbitMQWeb/Startup.cs
Due: none

Fix Loggers page (#286)
  Management/src/AllActuators/Actuators/Steeltoe.Actuators.csproj
Due: none

Upgrade Python to 3.11
  Pipfile
  Pipfile.lock
  ci/templates/cloud-foundry-job.yaml
  ci/templates/cloud-foundry-uaac-job.yaml
  ci/templates/setup-tools-steps.yaml
Due: none

Adapt samples to Steeltoe refactorings
  Connectors/src/MongoDb/Controllers/HomeController.cs
  Connectors/src/MongoDb/Models/MongoDbViewModel.cs
  Connectors/src/MongoDb/MongoDbSeeder.cs
  Connectors/src/MongoDb/Views/Home/Index.cshtml
  Connectors/src/MongoDb/appsettings.Development.json
  Connectors/src/MySql/Controllers/HomeController.cs
  Connectors/src/MySql/MySqlSeeder.cs
  Connectors/src/MySql/appsettings.Development.json
  Connectors/src/MySqlEFCore/appsettings.Development.json
  Connectors/src/MySqlEFCore/manifest-windows.yml
  Connectors/src/PostgreSql/Controllers/HomeController.cs
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/PostgreSqlSeeder.cs
  Connectors/src/PostgreSql/appsettings.Development.json
  Connectors/src/PostgreSqlEFCore/appsettings.Development.json
  Connectors/src/SqlServerEFCore/appsettings.Development.json
Due: ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml

Update CosmosDB connector sample using new CloudFoundry service bindings
  Connectors/src/CosmosDb/Controllers/HomeController.cs
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/CosmosDb/Data/CosmosDbService.cs
  Connectors/src/CosmosDb/Data/ICosmosDbService.cs
  Connectors/src/CosmosDb/Models/CosmosDbViewModel.cs
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/CosmosDb/README.md
  Connectors/src/CosmosDb/Views/Home/Index.cshtml
  Connectors/src/CosmosDb/appsettings.Development.json
Due: none

Adapt MongoDB sample to consume interface
  Connectors/src/MongoDb/Controllers/HomeController.cs
  Connectors/src/MongoDb/MongoDbSeeder.cs
Due: ci/azure-pipeline-connectors-mongodb.yaml

Update SQL Server EF Core connector sample using new CloudFoundry service bindings
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/SqlServerEFCore/Controllers/HomeController.cs
  Connectors/src/SqlServerEFCore/Models/SqlServerViewModel.cs
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/SqlServerEFCore/README.md
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
  Connectors/src/SqlServerEFCore/SqlServerSeeder.cs
  Connectors/src/SqlServerEFCore/Views/Home/Index.cshtml
  Connectors/src/SqlServerEFCore/appsettings.Development.json
Due: ci/azure-pipeline-connectors-postgresql.yaml

Adapt for rename
  Connectors/src/CosmosDb/Controllers/HomeController.cs
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/MongoDb/Controllers/HomeController.cs
  Connectors/src/MongoDb/MongoDbSeeder.cs
  Connectors/src/MySql/Controllers/HomeController.cs
  Connectors/src/MySql/MySqlSeeder.cs
  Connectors/src/PostgreSql/Controllers/HomeController.cs
  Connectors/src/PostgreSql/PostgreSqlSeeder.cs
  Connectors/src/RabbitMQ/Controllers/HomeController.cs
  Connectors/src/Redis/Controllers/HomeController.cs
  Connectors/src/Redis/RedisSeeder.cs
Due: ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Update MongoDB connector sample using new CloudFoundry service bindings
  Connectors/src/MongoDb/Controllers/HomeController.cs
  Connectors/src/MongoDb/Models/MongoDbViewModel.cs
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MongoDb/MongoDbSeeder.cs
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MongoDb/README.md
  Connectors/src/MongoDb/Views/Home/Index.cshtml
  Connectors/src/MongoDb/appsettings.Development.json
Due: ci/azure-pipeline-connectors-mongodb.yaml

Update Redis connector sample using new CloudFoundry service bindings
  Connectors/src/Connectors.sln
  Connectors/src/MongoDb/appsettings.Development.json
  Connectors/src/RabbitMQ/Views/Home/Index.cshtml
  Connectors/src/Redis/Controllers/HomeController.cs
  Connectors/src/Redis/Models/RedisViewModel.cs
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/README.md
  Connectors/src/Redis/Redis.csproj
  Connectors/src/Redis/Redis.feature
  Connectors/src/Redis/RedisSeeder.cs
  Connectors/src/Redis/Views/Home/Index.cshtml
  Connectors/src/Redis/appsettings.Development.json
Due: ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Update RabbitMQ connector sample using new CloudFoundry service bindings
  Connectors/src/RabbitMQ/Controllers/HomeController.cs
  Connectors/src/RabbitMQ/Models/RabbitViewModel.cs
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/README.md
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/RabbitMQ/Views/Home/Index.cshtml
  Connectors/src/RabbitMQ/scaffold/cloudfoundry.py
Due: ci/azure-pipeline-connectors-rabbitmq.yaml

Package updates
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/CosmosDb/Directory.Build.props
  Connectors/src/MongoDb/Directory.Build.props
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MySql/Directory.Build.props
  Connectors/src/MySqlEFCore/Directory.Build.props
  Connectors/src/OAuth/Directory.Build.props
  Connectors/src/PostgreSql/Directory.Build.props
  Connectors/src/PostgreSqlEFCore/Directory.Build.props
  Connectors/src/RabbitMQ/Directory.Build.props
  Connectors/src/Redis/Directory.Build.props
  Connectors/src/SqlServerEFCore/Directory.Build.props
  config/Directory.Build.props
Due: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Build OAuth sample against latest sources
  Connectors/src/OAuth/OAuth.csproj
Due: ci/azure-pipeline-connectors-oauth.yaml

Adapt to changed Connectors namespace
  Connectors/src/Connectors.sln
  Connectors/src/CosmosDb/Controllers/HomeController.cs
  Connectors/src/CosmosDb/CosmosDb.csproj
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/CosmosDb/Program.cs
  Connectors/src/MongoDb/Controllers/HomeController.cs
  Connectors/src/MongoDb/MongoDb.csproj
  Connectors/src/MongoDb/MongoDbSeeder.cs
  Connectors/src/MongoDb/Program.cs
  Connectors/src/MySql/Controllers/HomeController.cs
  Connectors/src/MySql/MySql.csproj
  Connectors/src/MySql/MySqlSeeder.cs
  Connectors/src/MySql/Program.cs
  Connectors/src/MySqlEFCore/MySqlEFCore.csproj
  Connectors/src/MySqlEFCore/Program.cs
  Connectors/src/OAuth/Controllers/HomeController.cs
  Connectors/src/OAuth/Models/OAuthViewModel.cs
  Connectors/src/OAuth/OAuth.csproj
  Connectors/src/OAuth/Program.cs
  Connectors/src/PostgreSql/Controllers/HomeController.cs
  Connectors/src/PostgreSql/PostgreSql.csproj
  Connectors/src/PostgreSql/PostgreSqlSeeder.cs
  Connectors/src/PostgreSql/Program.cs
  Connectors/src/PostgreSqlEFCore/PostgreSqlEFCore.csproj
  Connectors/src/PostgreSqlEFCore/Program.cs
  Connectors/src/RabbitMQ/Controllers/HomeController.cs
  Connectors/src/RabbitMQ/Program.cs
  Connectors/src/RabbitMQ/RabbitMQ.csproj
  Connectors/src/Redis/Controllers/HomeController.cs
  Connectors/src/Redis/Program.cs
  Connectors/src/Redis/Redis.csproj
  Connectors/src/Redis/RedisSeeder.cs
  Connectors/src/SqlServerEFCore/Program.cs
  Connectors/src/SqlServerEFCore/SqlServerEFCore.csproj
Due: ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml

Adapt to renames
  Connectors/src/CosmosDb/Controllers/HomeController.cs
  Connectors/src/CosmosDb/CosmosDbSeeder.cs
  Connectors/src/MongoDb/Controllers/HomeController.cs
  Connectors/src/MongoDb/MongoDbSeeder.cs
  Connectors/src/MySql/Controllers/HomeController.cs
  Connectors/src/MySql/MySqlSeeder.cs
  Connectors/src/PostgreSql/Controllers/HomeController.cs
  Connectors/src/PostgreSql/PostgreSqlSeeder.cs
  Connectors/src/RabbitMQ/Controllers/HomeController.cs
  Connectors/src/Redis/Controllers/HomeController.cs
  Connectors/src/Redis/RedisSeeder.cs
Due: ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml
