Repository SteelToeOSS/Samples: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml

Path conditions:
  ci/azure-pipeline-configuration-Simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-cloudfoundry.yaml: any of: config, Configuration/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-configuration-simple.yaml: any of: config, Configuration/src/Simple
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml: any of: config, Configuration/src/SimpleCloudFoundry
  ci/azure-pipeline-connectors-MySql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-MySqlEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-PostgreEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreEFCore
  ci/azure-pipeline-connectors-PostgreSql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-cosmosdb.yaml: any of: config, Connectors/src/CosmosDb
  ci/azure-pipeline-connectors-mongodb.yaml: any of: config, Connectors/src/MongoDb
  ci/azure-pipeline-connectors-mysql.yaml: any of: config, Connectors/src/MySql
  ci/azure-pipeline-connectors-mysqlef6.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEF6
  ci/azure-pipeline-connectors-mysqlefcore.yaml: any of: config, Connectors/src/MySqlEFCore
  ci/azure-pipeline-connectors-oauth.yaml: any of: config, Connectors/src/OAuth
  ci/azure-pipeline-connectors-postgresql.yaml: any of: config, Connectors/src/PostgreSql
  ci/azure-pipeline-connectors-postgresqlefcore.yaml: any of: config, Connectors/src/PostgreSqlEFCore
  ci/azure-pipeline-connectors-rabbitmq.yaml: any of: config, Connectors/src/RabbitMQ
  ci/azure-pipeline-connectors-redis.yaml: any of: config, Connectors/src/Redis
  ci/azure-pipeline-connectors-sqlserverefcore.yaml: any of: config, Connectors/src/SqlServerEFCore
  ci/azure-pipeline-management-cloudfoundry.yaml: any of: config, Management/src/CloudFoundry
  ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml: any of: config, Security/src/CloudFoundrySingleSignon

Add Kubernetes to MongoDB connector sample (#304)
  Connectors/src/MongoDb/README.md
  Connectors/src/MongoDb/config/workload.yaml
Due: ci/azure-pipeline-connectors-mongodb.yaml

Fix broken docker link
  CommonTasks.md
Due: none

Fix broken docker link (#305)
  CommonTasks.md
Due: none

Update FortuneTeller sample to run against Steeltoe v4
  Discovery/src/Fortune-Teller-Service/Directory.Build.props
  Discovery/src/Fortune-Teller-Service/Dockerfile
  Discovery/src/Fortune-Teller-Service/Fortune-Teller-Service.csproj
  Discovery/src/Fortune-Teller-Service/Program.cs
  Discovery/src/Fortune-Teller-Service/README.md
  Discovery/src/Fortune-Teller-Service/Startup.cs
  Discovery/src/Fortune-Teller-Service/appsettings.consul.json
  Discovery/src/Fortune-Teller-Service/manifest-windows.yml
  Discovery/src/Fortune-Teller-Service/testcert.cer
  Discovery/src/Fortune-Teller-Service/testcert.pvk
  Discovery/src/Fortune-Teller-UI/Directory.Build.props
  Discovery/src/Fortune-Teller-UI/Dockerfile
  Discovery/src/Fortune-Teller-UI/Fortune-Teller-UI.csproj
  Discovery/src/Fortune-Teller-UI/Program.cs
  Discovery/src/Fortune-Teller-UI/Properties/launchSettings.json
  Discovery/src/Fortune-Teller-UI/README.md
  Discovery/src/Fortune-Teller-UI/Startup.cs
  Discovery/src/Fortune-Teller-UI/Views/Shared/_Layout.cshtml
  Discovery/src/Fortune-Teller-UI/manifest-windows.yml
Due: none

Apply suggestions from code review
  Discovery/src/Fortune-Teller-Service/Dockerfile
  Discovery/src/Fortune-Teller-UI/Dockerfile
Due: none

Update FortuneTeller sample to run against Steeltoe v4 (#306)
  Discovery/src/Fortune-Teller-Service/Directory.Build.props
  Discovery/src/Fortune-Teller-Service/Dockerfile
  Discovery/src/Fortune-Teller-Service/Fortune-Teller-Service.csproj
  Discovery/src/Fortune-Teller-Service/Program.cs
  Discovery/src/Fortune-Teller-Service/README.md
  Discovery/src/Fortune-Teller-Service/Startup.cs
  Discovery/src/Fortune-Teller-Service/appsettings.consul.json
  Discovery/src/Fortune-Teller-Service/manifest-windows.yml
  Discovery/src/Fortune-Teller-Service/testcert.cer
  Discovery/src/Fortune-Teller-Service/testcert.pvk
  Discovery/src/Fortune-Teller-UI/Directory.Build.props
  Discovery/src/Fortune-Teller-UI/Dockerfile
  Discovery/src/Fortune-Teller-UI/Fortune-Teller-UI.csproj
  Discovery/src/Fortune-Teller-UI/Program.cs
  Discovery/src/Fortune-Teller-UI/Properties/launchSettings.json
  Discovery/src/Fortune-Teller-UI/README.md
  Discovery/src/Fortune-Teller-UI/Startup.cs
  Discovery/src/Fortune-Teller-UI/Views/Shared/_Layout.cshtml
  Discovery/src/Fortune-Teller-UI/manifest-windows.yml
Due: none

Update readme for "VMware Postgres for VMware TAS"
  Connectors/src/PostgreSql/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml

Update readme for "VMware Postgres for VMware TAS" (#314)
  Connectors/src/PostgreSql/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml

Revert "Update readme for "VMware Postgres for VMware TAS" (#314)"
  Connectors/src/PostgreSql/README.md
Due: ci/azure-pipeline-connectors-postgresql.yaml

updates for cf portion
  CommonTasks.md
  Configuration/README.md
  Configuration/src/Steeltoe.Samples.Configuration/Controllers/HomeController.cs
  Configuration/src/Steeltoe.Samples.Configuration/README.md
  Configuration/src/Steeltoe.Samples.Configuration/TagHelpers/ServiceCredentialsTagHelper.cs
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/CloudFoundry.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/global.json
  Discovery/src/Fortune-Teller-Service/Program.cs
  Discovery/src/Fortune-Teller-Service/global.json
Due: none

Use jquery to POST to /refresh instead of standard href link
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/Index.cshtml
Due: none

pipeline updates
  Configuration/src/Steeltoe.Samples.Configuration/CloudFoundry.feature
  Configuration/src/Steeltoe.Samples.Configuration/CloudFoundryConfiguration.feature
  Configuration/src/Steeltoe.Samples.Configuration/Configuration.feature
  Configuration/src/Steeltoe.Samples.Configuration/manifest.yml
  Configuration/src/Steeltoe.Samples.Configuration/scaffold/cloudfoundry.py
  ci/azure-pipeline-configuration-cloudfoundry.yaml
  ci/azure-pipeline-configuration-simple.yaml
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml
  ci/azure-pipeline-configuration.yaml
Due: none

skip one layer of ci template
  ci/azure-pipeline-configuration.yaml
Due: none

template path
  ci/azure-pipeline-configuration.yaml
Due: none

don't set space at cf login
  pysteel/cloudfoundry.py
  pysteel/scaffold/cloudfoundry.py
Due: none

suggestions from code review
  CommonTasks.md
  Configuration/README.md
  Configuration/src/Steeltoe.Samples.Configuration/LocalConfigServer.feature
  Configuration/src/Steeltoe.Samples.Configuration/Models/CloudFoundryViewModel.cs
  Configuration/src/Steeltoe.Samples.Configuration/TagHelpers/ServiceCredentialsTagHelper.cs
  Configuration/src/Steeltoe.Samples.Configuration/Tiltfile
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/Index.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/Views/Shared/_Layout.cshtml.css
Due: none

Apply suggestions from code review
  CommonTasks.md
  Configuration/src/Steeltoe.Samples.Configuration/.tanzuignore
  Configuration/src/Steeltoe.Samples.Configuration/Program.cs
  Configuration/src/Steeltoe.Samples.Configuration/Properties/launchSettings.json
  Configuration/src/Steeltoe.Samples.Configuration/README.md
  Configuration/src/Steeltoe.Samples.Configuration/appsettings.json
  Configuration/src/Steeltoe.Samples.Configuration/manifest-windows.yml
  Configuration/src/Steeltoe.Samples.Configuration/manifest.yml
Due: none

review feedback
  Configuration/src/Steeltoe.Samples.Configuration.sln
  Configuration/src/Steeltoe.Samples.Configuration/Directory.Build.props
  Configuration/src/Steeltoe.Samples.Configuration/README.md
  Configuration/src/Steeltoe.Samples.Configuration/manifest-windows.yml
  Configuration/src/Steeltoe.Samples.Configuration/manifest.yml
  Discovery/src/Fortune-Teller-Service/Program.cs
  Discovery/src/Fortune-Teller-Service/global.json
Due: none

more feedback, switch test job to use .json file instead of passing string
  Configuration/src/Steeltoe.Samples.Configuration/.tanzuignore
  Configuration/src/Steeltoe.Samples.Configuration/Models/ExternalConfiguration.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/ExternalConfigurationInfo.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/PlaceholderValues.cs
  Configuration/src/Steeltoe.Samples.Configuration/Steeltoe.Samples.Configuration.csproj
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/ExternalConfigurationData.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/PlaceholderValues.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/appsettings.json
  Configuration/src/Steeltoe.Samples.Configuration/config-server.json
  Configuration/src/Steeltoe.Samples.Configuration/scaffold/cloudfoundry.py
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/css/site.css
Due: none

integration tests
  .gitattributes
  Configuration/src/Steeltoe.Samples.Configuration/Configuration.feature
  Configuration/src/Steeltoe.Samples.Configuration/manifest-windows.yml
  ci/templates/setup-tools-steps.yaml
  pysteel/cloudfoundry.py
  pysteel/scaffold/cloudfoundry.py
Due: none

fix publish path
  Configuration/src/Steeltoe.Samples.Configuration/Configuration.feature
Due: none

publish --self-contained on windows, service plan name changes
  Configuration/src/Steeltoe.Samples.Configuration/Configuration.feature
  Connectors/src/PostgreSql/scaffold/cloudfoundry.py
  Connectors/src/PostgreSqlEFCore/scaffold/cloudfoundry.py
  Connectors/src/Redis/scaffold/cloudfoundry.py
Due: ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-redis.yaml

Apply suggestions from code review
  Configuration/src/Steeltoe.Samples.Configuration/.tanzuignore
  Configuration/src/Steeltoe.Samples.Configuration/Properties/launchSettings.json
  Configuration/src/Steeltoe.Samples.Configuration/README.md
  Configuration/src/Steeltoe.Samples.Configuration/appsettings.json
  Configuration/src/Steeltoe.Samples.Configuration/manifest-windows.yml
  Configuration/src/Steeltoe.Samples.Configuration/manifest.yml
Due: none

pr feedback
  .gitattributes
  Configuration/src/Steeltoe.Samples.Configuration/Controllers/HomeController.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/ErrorViewModel.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/ExternalConfiguration.cs
  Configuration/src/Steeltoe.Samples.Configuration/Program.cs
  Configuration/src/Steeltoe.Samples.Configuration/Steeltoe.Samples.Configuration.csproj
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/ExternalConfigurationData.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/Views/Shared/_Layout.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/css/site.css
  Connectors/src/Redis/scaffold/cloudfoundry.py
  ci/templates/setup-tools-steps.yaml
Due: ci/azure-pipeline-connectors-redis.yaml

Sync up from template "ASP.NET Core Web App (MVC)"
  Configuration/src/Steeltoe.Samples.Configuration/Controllers/HomeController.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/ErrorViewModel.cs
  Configuration/src/Steeltoe.Samples.Configuration/Program.cs
  Configuration/src/Steeltoe.Samples.Configuration/Properties/launchSettings.json
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/Privacy.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/Views/Shared/_Layout.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/Views/Shared/_Layout.cshtml.css
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/js/site.js
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/lib/jquery/LICENSE.txt
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/lib/jquery/dist/jquery.js
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/lib/jquery/dist/jquery.min.js
  Configuration/src/Steeltoe.Samples.Configuration/wwwroot/lib/jquery/dist/jquery.min.map
Due: none

Resharper code cleanup
  Configuration/src/Steeltoe.Samples.Configuration/Controllers/HomeController.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/CloudFoundryViewModel.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/ExternalConfiguration.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/ExternalConfigurationInfo.cs
  Configuration/src/Steeltoe.Samples.Configuration/Models/PlaceholderValues.cs
  Configuration/src/Steeltoe.Samples.Configuration/Program.cs
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/CloudFoundry.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/Index.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/PlaceholderValues.cshtml
  Configuration/src/Steeltoe.Samples.Configuration/Views/Home/RandomValues.cshtml
Due: none

Cleanup gitattributes, based on https://github.com/SteeltoeOSS/Samples/pull/318/files/65cbba93a71bfc36d44647b44e830d53acebfeb0#r1540748837
  .gitattributes
Due: none

Add integration test for placeholder
  Configuration/src/Steeltoe.Samples.Configuration/Configuration.feature
Due: none

Fix integration test
  Configuration/src/Steeltoe.Samples.Configuration/Configuration.feature
Due: none

Fix permissions
  .libexec/functions.sh
  Discovery/src/RunFortuneTeller.sh
  Management/src/Tracing/RunTracing.sh
  MusicStore/deployment/CloudFoundry/createCloudFoundryServices.sh
  MusicStore/deployment/CloudFoundry/deleteCloudFoundryServices.sh
  MusicStore/deployment/CloudFoundry/pushMusicStoreService.sh
  MusicStore/deployment/CloudFoundry/pushMusicStoreUI.sh
  MusicStore/deployment/CloudFoundry/pushOrderService.sh
  MusicStore/deployment/CloudFoundry/pushShoppingCartService.sh
  MusicStore/deployment/Docker/dockerrun-configserver.sh
  MusicStore/deployment/Docker/dockerrun-eurekaserver.sh
  MusicStore/deployment/Docker/dockerrun-mysqlserver.sh
  MusicStore/runMusicStoreService.sh
  MusicStore/runMusicStoreUI.sh
  MusicStore/runOrderService.sh
  MusicStore/runShoppingCartService.sh
  Security/scripts/credhub-setup.sh
  Security/scripts/sso-setup.sh
  WorkshopFinal/scripts/createCloudFoundryServices.sh
  WorkshopFinal/scripts/deleteCloudFoundryServices.sh
  behave.sh
  ci/housekeeper.sh
  ci/update-pipelines.sh
Due: none

Remove old cibuild files
  .travis.yml
  appveyor.yml
Due: none

Remove old cibuild files (#322)
  .travis.yml
  appveyor.yml
Due: none

Add stack to linux manifests in Connectors
  Connectors/src/CosmosDb/manifest.yml
  Connectors/src/MongoDb/manifest.yml
  Connectors/src/MySql/manifest.yml
  Connectors/src/MySqlEFCore/manifest.yml
  Connectors/src/PostgreSql/manifest.yml
  Connectors/src/PostgreSqlEFCore/manifest.yml
  Connectors/src/RabbitMQ/manifest.yml
  Connectors/src/Redis/manifest.yml
  Connectors/src/SqlServerEFCore/manifest.yml
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml

Add stack to linux manifests in Connectors (#323)
  Connectors/src/CosmosDb/manifest.yml
  Connectors/src/MongoDb/manifest.yml
  Connectors/src/MySql/manifest.yml
  Connectors/src/MySqlEFCore/manifest.yml
  Connectors/src/PostgreSql/manifest.yml
  Connectors/src/PostgreSqlEFCore/manifest.yml
  Connectors/src/RabbitMQ/manifest.yml
  Connectors/src/Redis/manifest.yml
  Connectors/src/SqlServerEFCore/manifest.yml
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml
