Repository SteelToeOSS/Samples: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipeline-configuration-Simple.yaml, ci/azure-pipeline-configuration-cloudfoundry.yaml, ci/azure-pipeline-configuration-simple.yaml, ci/azure-pipeline-configuration-simplecloudfoundry.yaml, ci/azure-pipeline-configuration.yaml, ci/azure-pipeline-connectors-MySql.yaml, ci/azure-pipeline-connectors-MySqlEFCore.yaml, ci/azure-pipeline-connectors-PostgreEFCore.yaml, ci/azure-pipeline-connectors-PostgreSql.yaml, ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlef6.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-oauth.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-management-cloudfoundry.yaml, ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml, ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml, ci/azure-pipeline-security-redis-data-protection.yaml

ci/azure-pipeline-configuration-Simple.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Configuration
      sample: Simple

ci/azure-pipeline-configuration-cloudfoundry.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Configuration
      sample: CloudFoundry

ci/azure-pipeline-configuration-simple.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Configuration
      sample: Simple

ci/azure-pipeline-configuration-simplecloudfoundry.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Configuration
      sample: SimpleCloudFoundry

ci/azure-pipeline-configuration.yaml:
  jobs:
  - job: Configuration_All_Linux
    displayName: 'Configuration: All (Linux)'
    timeoutInMinutes: 90
    pool:
      vmImage: ubuntu-latest
    workspace:
      clean: all
    steps:
    - template: templates/setup-cloud-foundry-linux-steps.yaml
    - bash: touch reinit
  ...

ci/azure-pipeline-connectors-MySql.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySql

ci/azure-pipeline-connectors-MySqlEFCore.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySqlEFCore

ci/azure-pipeline-connectors-PostgreEFCore.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: PostgreEFCore

ci/azure-pipeline-connectors-PostgreSql.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: PostgreSql

ci/azure-pipeline-connectors-cosmosdb.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: CosmosDb

ci/azure-pipeline-connectors-mongodb.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MongoDb

ci/azure-pipeline-connectors-mysql.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySql

ci/azure-pipeline-connectors-mysqlef6.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySqlEF6

ci/azure-pipeline-connectors-mysqlefcore.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: MySqlEFCore

ci/azure-pipeline-connectors-oauth.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: OAuth

ci/azure-pipeline-connectors-postgresql.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: PostgreSql

ci/azure-pipeline-connectors-rabbitmq.yaml:
  jobs:
  - template: templates/cloud-foundry-job.yaml
    parameters:
      feature: Connectors
      sample: RabbitMQ

Configure OTel Metrics instrumentation in-app
  Management/src/ActuatorApi/OpenTelemetryExtensions.cs
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorWeb/OpenTelemetryExtensions.cs
  Management/src/ActuatorWeb/README.md
Due: ci/azure-pipeline-management-cloudfoundry.yaml

feedback, use techdocs links, more comments, align with other PR changes
  Management/src/ActuatorApi/AdminTasks/ForecastTask.cs
  Management/src/ActuatorApi/Data/WeatherDbContext.cs
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorWeb/Program.cs
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/Steeltoe.Samples.ActuatorWeb.csproj
  Management/src/ActuatorWeb/appsettings.Development.json
  Management/src/ActuatorWeb/appsettings.json
  Management/src/README.md
Due: ci/azure-pipeline-management-cloudfoundry.yaml

more PR feedback
  Connectors/README.md
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorApi/appsettings.Development.json
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorApi/http-client.env.json
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/appsettings.Development.json
  Management/src/ActuatorWeb/appsettings.json
  Management/src/prometheus/prometheus.yml
Due: ci/azure-pipeline-management-cloudfoundry.yaml

More PR feedback
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorWeb/README.md
Due: ci/azure-pipeline-management-cloudfoundry.yaml

more PR feedback
  Management/src/ActuatorApi/ActuatorApi.http
  Management/src/ActuatorApi/AdminTasks/ResetTask.cs
  Management/src/ActuatorApi/Migrations/WeatherDbContextModelSnapshot.cs
  Management/src/ActuatorApi/OpenTelemetryExtensions.cs
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/Properties/launchSettings.json
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorWeb/ActuatorWeb.http
  Management/src/ActuatorWeb/OpenTelemetryExtensions.cs
  Management/src/ActuatorWeb/Program.cs
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/http-client.env.json
Due: ci/azure-pipeline-management-cloudfoundry.yaml

PR feedback
  Management/src/ActuatorApi/ActuatorApi.http
  Management/src/ActuatorApi/Migrations/WeatherDbContextModelSnapshot.cs
  Management/src/ActuatorApi/OpenTelemetryExtensions.cs
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/Properties/launchSettings.json
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorApi/http-client.env.json
  Management/src/ActuatorApi/scaffold/cloudfoundry.py
  Management/src/ActuatorWeb/ActuatorWeb.http
  Management/src/ActuatorWeb/OpenTelemetryExtensions.cs
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/http-client.env.json
Due: ci/azure-pipeline-management-cloudfoundry.yaml

Apply suggestions from code review
  Management/src/ActuatorApi/WeatherEndpoints.cs
Due: ci/azure-pipeline-management-cloudfoundry.yaml

PR feedback, details in description
  Management/src/ActuatorApi/AdminTasks/ForecastTask.cs
  Management/src/ActuatorApi/BasicAuthExtensions.cs
  Management/src/ActuatorApi/MySqlSeeder.cs
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorApi/WeatherEndpoints.cs
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorApi/http-client.env.json
  Management/src/ActuatorApi/manifest-windows.yml
  Management/src/ActuatorApi/manifest.yml
  Management/src/ActuatorWeb/BasicAuthExtensions.cs
  Management/src/ActuatorWeb/OpenTelemetryExtensions.cs
  Management/src/ActuatorWeb/Program.cs
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/Steeltoe.Samples.ActuatorWeb.csproj
  Management/src/ActuatorWeb/appsettings.json
  Management/src/ActuatorWeb/http-client.env.json
  Management/src/ActuatorWeb/manifest-windows.yml
  Management/src/ActuatorWeb/manifest.yml
  Management/src/Steeltoe.Samples.Management.sln
  Management/src/Steeltoe.Samples.Management.slnLaunch
  Management/src/prometheus/prometheus.yml
Due: ci/azure-pipeline-management-cloudfoundry.yaml

Apply suggestions from code review
  Management/src/ActuatorApi/ActuatorApi.http
  Management/src/ActuatorApi/Properties/launchSettings.json
  Management/src/ActuatorWeb/appsettings.Development.json
Due: ci/azure-pipeline-management-cloudfoundry.yaml

Various fixes in getting forecast data
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/WeatherEndpoints.cs
  Management/src/ActuatorWeb/ActuatorApiClient.cs
  Management/src/ActuatorWeb/Pages/Weather.cshtml
Due: ci/azure-pipeline-management-cloudfoundry.yaml

pr feedback
  Management/src/ActuatorApi/BasicAuthExtensions.cs
  Management/src/ActuatorApi/OpenTelemetryExtensions.cs
  Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorApi/appsettings.json
  Management/src/ActuatorApi/git.properties
  Management/src/ActuatorApi/http-client.env.json
  Management/src/ActuatorApi/manifest-windows.yml
  Management/src/ActuatorApi/manifest.yml
  Management/src/ActuatorWeb/ActuatorWeb.http
  Management/src/ActuatorWeb/BasicAuthExtensions.cs
  Management/src/ActuatorWeb/Program.cs
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/Steeltoe.Samples.ActuatorWeb.csproj
  Management/src/ActuatorWeb/appsettings.json
  Management/src/ActuatorWeb/git.properties
  Management/src/ActuatorWeb/http-client.env.json
  Management/src/ActuatorWeb/manifest-windows.yml
  Management/src/ActuatorWeb/manifest.yml
  Management/src/Steeltoe.Samples.Management.sln
  Management/src/prometheus/prometheus.yml
  pysteel/cloudfoundry.py
Due: ci/azure-pipeline-management-cloudfoundry.yaml

readme content & markdown fixes
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorWeb/README.md
Due: ci/azure-pipeline-management-cloudfoundry.yaml

try to make README whitespace a little less weird
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorWeb/README.md
Due: ci/azure-pipeline-management-cloudfoundry.yaml

increase cf timeout again, gitinfo comments
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorWeb/Steeltoe.Samples.ActuatorWeb.csproj
  pysteel/cloudfoundry.py
Due: ci/azure-pipeline-management-cloudfoundry.yaml

Update Management/src/ActuatorApi/Program.cs
  Management/src/ActuatorApi/Program.cs
Due: ci/azure-pipeline-management-cloudfoundry.yaml

whitespace, comment updates, remove heapdump from .http
  Management/src/ActuatorApi/ActuatorApi.http
  Management/src/ActuatorApi/README.md
  Management/src/ActuatorApi/Steeltoe.Samples.ActuatorApi.csproj
  Management/src/ActuatorWeb/ActuatorWeb.http
  Management/src/ActuatorWeb/README.md
  Management/src/ActuatorWeb/Steeltoe.Samples.ActuatorWeb.csproj
Due: ci/azure-pipeline-management-cloudfoundry.yaml

Apply suggestions from code review
  Management/src/ActuatorWeb/README.md
Due: none

re-order projects in .sln
  Management/src/Steeltoe.Samples.Management.sln
Due: none

Remove heading from footers in MD files
  Configuration/src/ConfigurationProviders/README.md
  Connectors/README.md
  Connectors/src/CosmosDb/README.md
  Connectors/src/MongoDb/README.md
  Connectors/src/MySql/README.md
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/RabbitMQ/README.md
  Connectors/src/Redis/README.md
  Connectors/src/SqlServerEFCore/README.md
  Discovery/README.md
  Discovery/src/FortuneTeller/README.md
  Security/README.md
  Security/src/AuthApi/README.md
  Security/src/AuthWeb/README.md
  Security/src/RedisDataProtection/README.md
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-security-redis-data-protection.yaml

Remove heading from footers in MD files (#356)
  Configuration/src/ConfigurationProviders/README.md
  Connectors/README.md
  Connectors/src/CosmosDb/README.md
  Connectors/src/MongoDb/README.md
  Connectors/src/MySql/README.md
  Connectors/src/MySqlEFCore/README.md
  Connectors/src/PostgreSql/README.md
  Connectors/src/PostgreSqlEFCore/README.md
  Connectors/src/RabbitMQ/README.md
  Connectors/src/Redis/README.md
  Connectors/src/SqlServerEFCore/README.md
  Discovery/README.md
  Discovery/src/FortuneTeller/README.md
  Security/README.md
  Security/src/AuthApi/README.md
  Security/src/AuthWeb/README.md
  Security/src/RedisDataProtection/README.md
Due: ci/azure-pipeline-connectors-cosmosdb.yaml, ci/azure-pipeline-connectors-mongodb.yaml, ci/azure-pipeline-connectors-mysql.yaml, ci/azure-pipeline-connectors-mysqlefcore.yaml, ci/azure-pipeline-connectors-postgresql.yaml, ci/azure-pipeline-connectors-postgresqlefcore.yaml, ci/azure-pipeline-connectors-rabbitmq.yaml, ci/azure-pipeline-connectors-redis.yaml, ci/azure-pipeline-connectors-sqlserverefcore.yaml, ci/azure-pipeline-security-redis-data-protection.yaml

Replace "bash" with "shell" in MD files
  FreddysBBQ/README.md
  MusicStore/README-CloudFoundry.md
  Security/src/AuthWeb/README.md
Due: none

Replace "bash" with "shell" in MD files (#355)
  FreddysBBQ/README.md
  MusicStore/README-CloudFoundry.md
  Security/src/AuthWeb/README.md
Due: none

Update .editorconfig from Steeltoe main
  .editorconfig
  Management/src/ActuatorWeb/CustomActuators/LocalTime/EndpointServiceCollectionExtensions.cs
  Management/src/ActuatorWeb/CustomActuators/LocalTime/LocalTimeEndpointOptions.cs
  Security/src/AuthWeb/Program.cs
  Security/src/AuthWeb/Views/Shared/_LoginPartial.cshtml
Due: none

Update .editorconfig from Steeltoe main (#354)
  .editorconfig
  Management/src/ActuatorWeb/CustomActuators/LocalTime/EndpointServiceCollectionExtensions.cs
  Management/src/ActuatorWeb/CustomActuators/LocalTime/LocalTimeEndpointOptions.cs
  Security/src/AuthWeb/Program.cs
  Security/src/AuthWeb/Views/Shared/_LoginPartial.cshtml
Due: none

Update auth sample to inject typed HttpClient, improve logging and error display
  Security/src/AuthWeb/ApiClients/CertificateAuthorizationApiClient.cs
  Security/src/AuthWeb/ApiClients/JwtAuthorizationApiClient.cs
  Security/src/AuthWeb/ApiClients/StringApiClient.cs
  Security/src/AuthWeb/Controllers/HomeController.cs
  Security/src/AuthWeb/HttpClientBuilderExtensions.cs
  Security/src/AuthWeb/Models/AuthApiResponseModel.cs
  Security/src/AuthWeb/Program.cs
  Security/src/AuthWeb/Views/Home/InvokeService.cshtml
Due: none

Update auth sample to inject typed HttpClient, improve logging and error display (#358)
  Security/src/AuthWeb/ApiClients/CertificateAuthorizationApiClient.cs
  Security/src/AuthWeb/ApiClients/JwtAuthorizationApiClient.cs
  Security/src/AuthWeb/ApiClients/StringApiClient.cs
  Security/src/AuthWeb/Controllers/HomeController.cs
  Security/src/AuthWeb/HttpClientBuilderExtensions.cs
  Security/src/AuthWeb/Models/AuthApiResponseModel.cs
  Security/src/AuthWeb/Program.cs
  Security/src/AuthWeb/Views/Home/InvokeService.cshtml
Due: none

Management sample tweaks
  Management/src/ActuatorApi/OpenTelemetryExtensions.cs
  Management/src/ActuatorWeb/OpenTelemetryExtensions.cs
  Management/src/ActuatorWeb/README.md
Due: ci/azure-pipeline-management-cloudfoundry.yaml

Update pipeline YAML files to only build samples that changed
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Widen exclude pattern
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Remove excludes
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Remove ** entries
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Remove root entries
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Remove remaining entries
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Alternate excludes
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Move excludes after includes
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Start all over, but with pr triggers
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Reduce includes to bare minimum
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Add exclude *
  ci/azure-pipeline-configuration.yaml
  ci/azure-pipeline-connectors-cosmosdb.yaml
  ci/azure-pipeline-connectors-mongodb.yaml
  ci/azure-pipeline-connectors-mysql.yaml
  ci/azure-pipeline-connectors-mysqlefcore.yaml
  ci/azure-pipeline-connectors-postgresql.yaml
  ci/azure-pipeline-connectors-postgresqlefcore.yaml
  ci/azure-pipeline-connectors-rabbitmq.yaml
  ci/azure-pipeline-connectors-redis.yaml
  ci/azure-pipeline-connectors-sqlserverefcore.yaml
  ci/azure-pipeline-management-cloudfoundry.yaml
  ci/azure-pipeline-security-redis-data-protection.yaml
Due: none

Path conditions:
  ci/azure-pipeline-configuration-Simple.yaml: any of: config, Configuration/src/AspDotNetCore/Simple
  ci/azure-pipeline-configuration-cloudfoundry.yaml: any of: config, Configuration/src/AspDotNetCore/CloudFoundry
  ci/azure-pipeline-configuration-simple.yaml: any of: config, Configuration/src/Simple
  ci/azure-pipeline-configuration-simplecloudfoundry.yaml: any of: config, Configuration/src/SimpleCloudFoundry
  ci/azure-pipeline-configuration.yaml: any of: config, Configuration/src/Steeltoe.Samples.Configuration
  ci/azure-pipeline-connectors-MySql.yaml: any of: config, Connectors/src/AspDotNetCore/MySql
  ci/azure-pipeline-connectors-MySqlEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEFCore
  ci/azure-pipeline-connectors-PostgreEFCore.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreEFCore
  ci/azure-pipeline-connectors-PostgreSql.yaml: any of: config, Connectors/src/AspDotNetCore/PostgreSql
  ci/azure-pipeline-connectors-cosmosdb.yaml: any of: config, Connectors/src/CosmosDb
  ci/azure-pipeline-connectors-mongodb.yaml: any of: config, Connectors/src/MongoDb
  ci/azure-pipeline-connectors-mysql.yaml: any of: config, Connectors/src/MySql
  ci/azure-pipeline-connectors-mysqlef6.yaml: any of: config, Connectors/src/AspDotNetCore/MySqlEF6
  ci/azure-pipeline-connectors-mysqlefcore.yaml: any of: config, Connectors/src/MySqlEFCore
  ci/azure-pipeline-connectors-oauth.yaml: any of: config, Connectors/src/OAuth
  ci/azure-pipeline-connectors-postgresql.yaml: any of: config, Connectors/src/PostgreSql
  ci/azure-pipeline-connectors-postgresqlefcore.yaml: any of: config, Connectors/src/PostgreSqlEFCore
  ci/azure-pipeline-connectors-rabbitmq.yaml: any of: config, Connectors/src/RabbitMQ
  ci/azure-pipeline-connectors-redis.yaml: any of: config, Connectors/src/Redis
  ci/azure-pipeline-connectors-sqlserverefcore.yaml: any of: config, Connectors/src/SqlServerEFCore
  ci/azure-pipeline-management-cloudfoundry.yaml: any of: config, Management/src/ActuatorApi
  ci/azure-pipeline-security-CloudFoundrySingleSignon.yaml: any of: config, Security/src/AspDotNetCore/CloudFoundrySingleSignon
  ci/azure-pipeline-security-cloudfoundrysinglesignon.yaml: any of: config, Security/src/CloudFoundrySingleSignon
  ci/azure-pipeline-security-redis-data-protection.yaml: any of: config, Security/src/RedisDataProtection
